
.new-tab-meat {
  @include meat;
  padding: $grid-padding;

  margin: 0 20px;

  .itch-logo {
    width: 100%;
    height: 150px;
    background-image: url("../static/images/logos/app-white.svg");
    background-position: 50% 50%;
    background-size: auto 70%;
    background-repeat: no-repeat;
    opacity: .2;
  }

  .hub-item {
    width: auto !important;
    flex-grow: 1 !important;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      font-size: 70px;
      margin-bottom: 25px;
    }

    @include clickable;
  }

  h2 {
    flex-basis: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .browser-address-container {
    position: relative;
    flex-basis: 100%;
    margin: 0 40px;

    .browser-address {
      @include heavy-input;
      width: 100%;
      text-indent: 32px;
    }

    .icon-earth {
      position: absolute;
      left: 19px;
      bottom: 50%;
      transform: translateY(55%);
      font-size: 19px;
      color: $input-placeholder-color;
    }

    .kb-shortcut {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}
