
@mixin light-button ($background-color: $button-background-color) {
  font-size: $base-text-size - 2px;

  background-color: $background-color;
  padding: 8px 12px;

  border: 1px solid lighten($background-color, 10%);
  border-radius: 2px;

  color: $button-text-color;
  text-shadow: 0 0 1px darken($background-color, 10%);

  &:hover {
    box-shadow: 0 0 2px $ui-box-shadow-color;
  }

  @include clickable;
}

@mixin spooky-light-button {
  @include light-button($background-color: $spooky);
}
