$download-progress-color-out: rgba(165, 165, 165, 0.47);
$download-progress-color-in-a: rgba(255, 255, 255, .1);
$download-progress-color-in-b: rgba(255, 255, 255, .4);

@mixin progress {
  position: relative;
  height: 3px;
  width: 100%;

  background: $download-progress-color-out;
  transition: background 1s;

  .progress-inner {
    position: absolute;
    transition: width .3s;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $accent-color;
    background-image: -webkit-repeating-linear-gradient(
    -60deg,
    $download-progress-color-in-a 0,
    $download-progress-color-in-a 4px,
    $download-progress-color-in-b 4px,
    $download-progress-color-in-b 8px);
  }
}
