{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": {
          "electron": "7.1.2"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "react-hot-loader/babel",
    ["babel-plugin-styled-components", {
      "pure": true
    }]
  ]
}
