{
  "plugins": [
    "syntax-async-functions",
    "transform-es2015-modules-commonjs",
    "transform-strict-mode",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ]
}
