# package manager stuff
node_modules
config.json
npm-debug.log

# build artifacts
/maps
*.map
tmp

# coverage
/coverage
.nyc_output

# electron package-building stuff
/build
/cache
/stage
/release/itch.desktop

# OS-specific junk
.DS_Store
*.app
*.dmg
