# package manager stuff
node_modules
config.json
npm-debug.log

# build artifacts
/test/**/*.js
/maps
*.map
tmp

# coverage
/coverage
.nyc_output

# electron package-building stuff
/build
/cache

# OS-specific junk
.DS_Store
