# package manager stuff
/node_modules
/docs/node_modules
config.json
npm-debug.log
/.cache

# build artifacts
/*.dmg
/*.zip
/*.app
/app
/test
/tests
/tmp
/screenshots
/.tscache
/.awcache
*.map
*.tmp.txt
/butler
*.exe
/artifacts

# capsule stuff
/*.mp4

# coverage
/coverage
*.lcov
.nyc_output

# build+packaging temp files (CI)
/build
/cache
/stage*
/app*
/dist*
/prefix*
/deb-stage
/rpm-stage
/aur-stage
/portable-stage
/linux-extras
/packages
/*.app
/*.dmg

# integration tests temp
.chromedriver
*.log.txt

# OS-specific junk
.DS_Store

# golang-specific stuff
/gopath

# webpack stuff
stats.json
