language: node_js
node_js:
  - '4.1'
before_install:
  - npm install -g gulp standard babel-eslint
  - npm install
  - "(cd app && npm install)"
  - gulp all
  - "(cd spec/chrome && npm install)"
  - npm install -g 'electron-prebuilt@itchio/electron-prebuilt#exit-code'
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
script:
  - npm test
notifications:
  slack:
    secure: sOCdrN/3NJeCF2sFAThC1oo8aTd1xlWbIJqblfR/UQiEn/3DhWv5/dwIampDbsunrPxz8XyKpupFmBL/P7jl1wYe5IHZNXFqOjXAEYfYNgVoBmZUuVGnVhSTmWMPRUADIuXTTUswzt2PKOypdVFVGHfB8rgAOnHhobtePXzhPjx1SPkHADP8twhQKJ7pnYN8UoF628kGWmDWIJGRtMBrZT+VMIjsE/Au0SdR+y4gd1s71AcvAMU2hxFLlWKojoEvrsZ91RU30TdBelsNAhwepD2Ighfh9YwKUxPT8G05U6vbDJxH6n/JpO3Vk+rQiKV8F/d7xO6NajwD0GFZNxMF/znahy7H9uK14lxHpg3aF1LqmKK99Z1SR5DR+HUL9/qD/bfEo/xDgEXacAs+bcLZ+hhYt4pVsfPbQ7Gfw4J3WRXb69HbGddvw02gp881soGd0MtAxtVFOx7covBmeNLNUV0G+d9rMZ35uvFlb8CXXWTL/LRfzO2B2j24JnJPKd6GuDBeeLu66Y4JrJQWZ3d/CiHotS5vyov6znsQURsejsRXbNXMHGmTVLKSEPO3Cn5NhqO+RDeA+FCtIZEHPLqG0NGdnRjwsgvAVaXC6k79lnfB9F4K0mh8E/1lMi7XpVLG8gRHsKAtrn6GZhRCBUVrVX2c0BhvH1p2E2opuG8xpHc=
