
@keyframes bounce {
  0% { transform: scale(1.00) translate(0, 0); }
  4% { transform: scale(0.97) translate(0, -8px); }
  12% { transform: scale(0.97, 1.01) translate(0, -12px); }
  43% { transform: scale(0.94, 1.01) translate(0, -17px); }
  56% { transform: scale(0.94, 1.03) translate(0, -14px); }
  67% { transform: scale(0.97, 1) translate(0, -6px); }
  75% { transform: scale(1.09, 0.96) translate(0, 4px); }
  89% { transform: scale(1.15, 0.92) translate(0, 2px); }
  100% { transform: scale(1.00) translate(0, 0); }
}
