
@import 'hub/sidebar';
@import 'hub/bread';
@import 'hub/search';

.hub-page {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.hub-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .hub-bread {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .hub-meat {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.hub-grid {
  flex-grow: 1;
  flex-shrink: 1;

  padding: $grid-padding;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  .hub-item, .hub-filler {
    width: $grid-item-width;
    margin: .5em 0;
  }

  .hub-filler {
    height: 0;
  }

  .hub-item {
    @include thumbnail-style;
    background: #232222; // FIXME colors
    border: 1px solid #191919; // FIXME colors

    .cover {
      background-color: black;
      background-size: cover;
      background-position: 50% 50%;
      height: $grid-item-height;
      box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors
    }

    .undercover {
      padding: .5em;
    }

    .actions {
      height: 3em;
      display: flex;
      align-items: center;
    }

    .title {
      @include single-line;
      padding: .2em 0;
      margin: 0 0 4px 0;
      text-shadow: 0 0 1px $ui-text-shadow-color;
    }

    .button {
      @include heavy-button;

      font-size: $base-text-size;
      background-color: #2F5636;
      border: 1px solid #446744;
      font-weight: bold;
      padding: 10px;
      border-radius: 2px;

      &:hover {
        border-color: #55A562;
        background-color: #467C47;
      }

      &:active {
        transform: scale(.95);
      }
    }

    .button .icon {
      margin-right: 7px;
      font-size: 80%;
    }
  }
}

.hub-meat {
  background: #333131; // FIXME colors
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
