
@import 'hub/sidebar';
@import 'hub/bread';

.hub_page {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.hub_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .hub_bread {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .hub_meat {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.hub_grid {
  flex-grow: 1;
  flex-shrink: 1;

  padding: $grid-padding;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  .hub_item, .hub_filler {
    width: $grid_item_width;
    margin: .5em 0;
  }

  .hub_filler {
    height: 0;
  }

  .hub_item {
    @include thumbnail-style;
    background: #232222; // FIXME colors
    border: 1px solid #191919; // FIXME colors

    .cover {
      background-color: black;
      background-size: cover;
      background-position: 50% 50%;
      height: $grid-item-height;
      box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors
    }

    .undercover {
      padding: .5em;
    }

    .actions {
      height: 3em;
      display: flex;
      align-items: center;
    }

    .title {
      @include single-line;
      padding: .2em 0;
      margin: 0 0 4px 0;
      text-shadow: 0 0 1px $ui-text-shadow-color;
    }

    .button {
      @include heavy-button;
      font-size: $base-text-size;
      background-color: #3A523D;
      border: 1px solid #446744;
      font-weight: bold;
      padding: 10px;
      border-radius: 2px;
    }

    .button .icon {
      margin-right: 7px;
      font-size: 80%;
    }
  }
}

.hub_meat {
  background: #333131; // FIXME colors
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.hub_search_results {
  background: $sidebar-background-color;
  border-left: 1px solid $sidebar-border-color;

  flex-shrink: 0;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
  width: 0;

  display: flex;
  flex-direction: column;

  h3 {
    margin: 1em;
  }

  .result_list {
    display: flex;
    flex-direction: column;
  }

  .search_result {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2em 0;

    h4 {
      text-shadow: 0 0 2px $input-text-shadow-color;
      margin: .5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background: $sidebar-entry-focused-background-color;
      cursor: pointer;
    }

    img {
      @include thumbnail-style;
      margin-left: .5em;
      width: 85px;
    }

    .spacer {
      flex-grow: 100;
    }

    .icon-button {
      @include secondary-link;
      margin-right: .5em;

      &:hover {
        opacity: .7;
        cursor: pointer;
      }
    }
  }

  &.active {
    width: 1.5 * $grid_item_width + 20px;
  }
}
