
@import 'hub/sidebar';
@import 'hub/bread';
@import 'hub/item';
@import 'hub/search';
@import 'hub/history';
@import 'hub/downloads';
@import 'hub/browser-meat';
@import 'hub/game-browser-context';
@import 'hub/preferences';
@import 'hub/library';
@import 'hub/new-tab';
@import 'hub/toast';
@import 'hub/collections';
@import 'hub/location';

.hub-page {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.hub-content {
  border-left: 1px solid $sidebar-border-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .hub-bread {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .hub-meat {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.hub-game-grid {
  flex-grow: 1;

  .clear-filters {
    margin-left: 8px;
    font-size: 80%;
    @include clickable;
  }

  .hidden-count {
    background: $meat-background-color;
    box-shadow: 0 0 2px 0 darken($meat-background-color, 20%);
    border-radius: 4px 0 0 0;
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    padding: 12px;
    color: #A0A0A0;
  }
}

.hub-game-table {
  flex-grow: 1;

  .cover {
    width: 47px;
    height: 36px;
    vertical-align: middle;
    margin-right: 7px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 1px;
    background-color: $sidebar-background-color;
  }

  .ReactVirtualized__Table__headerRow {
    background: $bread-background-color;
    text-transform: initial;
  }

  .ReactVirtualized__Table__row {
    border-bottom: 1px solid $filter-background-color;

    &:hover {
      background-color: $filter-background-color;
    }
  }

  .title-column {
    line-height: 1.4;

    &:hover {
      cursor: pointer;
    }

    .title, .description {
      @include single-line;
    }

    .description {
      color: $secondary-text-color;
    }
  }
}

.hub-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;

  .criterion-bar {
    flex-basis: 100%;
    display: flex;
  }

  .hub-item {
    width: $grid-item-width;
    margin: .5em;
    cursor: default;

    .main-action {
      @include single-line;
    }
  }

  .clear-filters {
    margin-left: 8px;
    font-size: 80%;
    @include clickable;
  }

  .hub-filler {
    width: $grid-item-width;
    height: 0;
    margin: 0 .5em;
  }

  .hidden-count {
    width: 100%;
    text-align: center;
    display: block;
    margin: 16px;
    color: #A0A0A0;
  }
}

.hub-meat {
  background: $meat-background-color; // FIXME colors
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  .hub-meat-tab {
    // each of these redundant CSS properties is a workaround
    // for a separate issue. we cannot use display: none here
    // because of webviews, `visibility: hidden` makes the address
    // bar linger when switching to another tab, opacity takes
    // care of that. (and flex dimensions does the actual 'switching')
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex: 0 1;
    width: 100%;
    height: 0px;

    .ReactVirtualized__Grid {
      padding-bottom: 48px;
    }

    &.visible {
      visibility: visible;
      opacity: 1;
      display: flex;
      flex: 1 1;
      height: 100%;
    }

    p.empty {
      padding: 10px;
      color: $secondary-text-color;
    }
  }
}
