
@import 'hub/sidebar';
@import 'hub/bread';
@import 'hub/item';
@import 'hub/search';
@import 'hub/history';
@import 'hub/downloads';
@import 'hub/game-meat';

.hub-page {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.hub-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .hub-bread {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .hub-meat {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.hub-grid {
  flex-grow: 1;
  flex-shrink: 1;

  padding: $grid-padding;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;

  .hub-item, .hub-filler {
    width: $grid-item-width;
    margin: .5em;
  }

  .hub-filler {
    height: 0;
  }
}

.hub-meat {
  background: #333131; // FIXME colors
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;

  .filter-info {
    width: 100%;
    margin: 10px;
  }

  .hub-meat-tab {
    display: none;

    &.visible {
      display: flex;
      flex-grow: 1;
    }
  }
}
