
@import 'hub/sidebar';
@import 'hub/bread';
@import 'hub/item';
@import 'hub/search';
@import 'hub/history';
@import 'hub/downloads';
@import 'hub/browser-meat';
@import 'hub/game-browser-bar';
@import 'hub/preferences';
@import 'hub/library';

.hub-page {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.hub-content {
  border-left: 1px solid $sidebar-border-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .hub-bread {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .hub-meat {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.hub-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;

  .hub-item {
    width: $grid-item-width;
    margin: .5em;
  }

  .hub-filler {
    width: $grid-item-width;
    height: 0;
    margin: 0 .5em;
  }
}

.hub-meat {
  background: #333131; // FIXME colors
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  .filter-info {
    width: 100%;
    margin: 10px;
  }

  .hub-meat-tab {
    display: flex;
    height: 0;
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 0;

    &.visible {
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
    }
  }
}
