
html,
body {
  background: $base-background-color;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
}

body {
  font-size: $base-text-size;
  color: $base-text-color;
}

body, input {
  font-family: LatoWeb, sans-serif;
}

.layout {
  .layout-draggable {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    -webkit-app-region: drag;
  }

  .layout-base {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: $status-bar-height;
  }
}

.circle-container {
  display: inline;
  margin-right: 8px;

  svg {
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
    animation: turn 6s infinite linear;
  }
}

.ReactVirtualized__Grid {
  outline: none;
}
