
.hub-bread {
  flex-basis: 28px;
  padding: 0 2px;
  padding-top: 2px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: $bread-background-color;
  box-shadow: 0 0 6px $bread-box-shadow-color;

  .icon-button {
    font-size: 16px;
    @include secondary-link;
    @include clickable;
  }

  section {
    flex-shrink: 0;
    overflow: hidden;
    padding: 0 10px;

    h2 {
      font-size: 14px;
      text-shadow: 0 0 2px $input-text-shadow-color;
      margin-right: 8px;
    }

    h3 {
      font-size: 14px;
    }

    h2, h3 {
      // hack so text is not vertically cropped,
      // but we still get text-overflow
      padding: 4px 0;
      display: inline-block;
    }

    &.filler {
      flex-grow: 1;
    }

    &.description {
      flex-shrink: 1;
      display: flex;
      align-items: center;
      padding: 0;
      padding-left: 5px;

      .description-image {
        flex-shrink: 0;
        background-size: cover;
        margin-right: 8px;
        border-radius: 2px;
        background-color: black;
        background-size: cover;
        background-position: 50% 50%;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors

        width: 16px;
        height: 16px;
      }

      .description-titles {
        @include single-line;
      }
    }
  }
}

.hub-bread .description {
  h3 {
    color: $secondary-text-color;
  }
}
