
.hub-bread {
  flex-basis: 90px;
  padding: 0 $grid-padding;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: $bread-background-color;
  box-shadow: 0 0 6px $bread-box-shadow-color;

  .icon-button {
    font-size: 20px;
    @include secondary-link;
    -webkit-filter: brightness(90%);

    &:hover {
      -webkit-filter: none;
      cursor: hand;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  section {
    flex-shrink: 0;
    overflow: hidden;
    padding: 0 10px;

    h2 {
      font-size: 24px;
      text-shadow: 0 0 2px $input-text-shadow-color;
    }

    h3 {
      font-size: 16px;
    }

    h2, h3 {
      // hack so text is not vertically cropped,
      // but we still get text-overflow
      padding: 4px 0;
    }

    &.search {
      position: relative;

      &.loading .icon-search {
        @include horizontal-scan;
      }

      input[type=search] {
        @include heavy-input;
        transition: all 0.2s;
        width: 200px;
        text-indent: 20px;
        padding: 10px 10px 9px 9px;

        &:focus {
          width: 350px;
        }
      }

      .icon-search {
        position: absolute;
        left: 25px;
        bottom: 50%;
        transform: translateY(55%);
        font-size: 16px;
        color: $input-placeholder-color;
      }

      .kb-shortcut {
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
      }
    }

    &.filler {
      flex-grow: 1;
    }

    &.description {
      flex-shrink: 1;
      display: flex;
      align-items: center;
      padding: 0;
      padding-left: 5px;

      .description-image {
        flex-shrink: 0;
        background-size: cover;
        margin-right: 20px;
        border-radius: 2px;
        background-color: black;
        background-size: cover;
        background-position: 50% 50%;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors

        &.user {
          width: 60px;
          height: 60px;
        }
        &.game {
          width: 100px;
          height: 72px;
        }
      }

      .description-titles {
        overflow: hidden;
      }
    }
  }
}

.hub-bread .description {
  h3 {
    color: $secondary-text-color;
  }

  h2, h3 {
    @include single-line;
  }
}
