
$meat-cover-scale: 0.4;

.browser-meat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .browser-bar {
    display: flex;
    align-items: center;
    padding: $grid-padding $grid-padding * 2;
    background: $sidebar-background-color;
    border: 1px solid #353535;
    border-left: none;
    border-right: none;
    transition: border .2s;
  }

  webview {
    background: #333131; // FIXME colors
    flex-grow: 1;
    margin-bottom: $status-bar-height;
  }

  .controls {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;

    .browser-controls {
      display: flex;
      align-items: center;

      .icon {
        color: $secondary-text-color;
        font-size: 20px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        vertical-align: middle;

        &:first-child {
          padding-left: none;
        }

        -webkit-filter: brightness(90%);
        text-shadow: 0 0 1px;

        &:active {
          -webkit-transform: scale(.95);
        }

        &:hover {
          -webkit-filter: none;
          cursor: pointer;
        }

        &.loading {
          @include horizontal-scan;
        }

        &.disabled {
          -webkit-filter: brightness(50%);
          text-shadow: none;
        }
      }

      .browser-address {
        @include single-line;
        font-family: Lato;
        font-size: 14px;
        height: 32px;
        margin-left: 4px;
        color: $secondary-text-color;
        border: 1px solid darken($secondary-text-color, 20%);
        padding: 8px;
        border-radius: 2px;
        flex-grow: 1;
        max-width: 300px;

        &.editing {
          color: $sidebar-background-color;
        }
      }
    }
  }
}
