
$meat-cover-scale: 0.4;

@keyframes load-border {
  0% {
    border-image-slice: 0% 0% 10% 92%;
    border-image-width: 0 0 2px 0;
  }
  100% {
    border-image-slice: 0% 0% 10% 0%;
    border-image-width: 0 0 2px 0;
  }
}

.browser-meat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .browser-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  .browser-context {
    flex-basis: 240px;
    background: $sidebar-background-color;

    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  .browser-bar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 1px 0 6px 12px;
    background: $bread-background-color;
    transition: all .2s;
    min-height: 32px;

    border-width: 0;
    border-bottom-width: 2px;
    border-image-source: repeating-linear-gradient(to right, #353535 0, #353535 95%, transparent 95%, transparent 100%);
    &.loading {
      border-image-source: repeating-linear-gradient(to right, $light-accent-color 0, $light-accent-color 95%, transparent 95%, transparent 100%);
      animation: load-border 10s cubic-bezier(0, 0, 0, 0.42) infinite;
    }
    border-image-slice: 100% 10% 0% 0%;
    border-bottom: 2px solid;
  }

  .webview-shell, webview {
    display: flex;
    flex: 1 1;
  }

  webview {
    background: white;
    margin-bottom: $status-bar-height;
    margin-right: -1px;
  }

  .controls {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;

    .browser-controls {
      display: flex;
      align-items: center;

      .icon {
        color: $secondary-text-color;
        font-size: 20px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        vertical-align: middle;

        &:first-child {
          padding-left: none;
        }

        -webkit-filter: brightness(90%);
        text-shadow: 0 0 1px;

        &:active {
          -webkit-transform: scale(.95);
        }

        &:hover {
          -webkit-filter: none;
          cursor: pointer;
        }

        &.loading {
          @include horizontal-scan;
        }

        &.disabled {
          -webkit-filter: brightness(50%);
          text-shadow: none;
        }
      }

      .browser-address {
        @include single-line;
        font-family: Lato;
        font-size: 14px;
        height: 33px;
        line-height: 30px;
        margin-left: 4px;
        color: $base-text-color;
        border: 2px solid darken($secondary-text-color, 20%);
        background: #353535;
        box-shadow: 0 0 2px #000000;
        text-shadow: 0 0 1px black;
        padding: 0 8px;
        border-radius: 2px;
        flex-grow: 1;
        max-width: 300px;

        transition: all 0.4s;

        &.editing {
          text-shadow: 0 0 1px transparent;
          color: $sidebar-background-color;
          background: white;
        }
      }
    }
  }
}
