
.collections-meat {
  overflow-y: auto;

  .hub-grid {
    .collection-hub-item, .hub-filler {
      width: 280px;
      margin: 10px 20px;
    }

    .collection-hub-item {
      -webkit-filter: brightness(90%);

      &:hover {
        -webkit-filter: none;
        cursor: pointer;
      }

      .title {
        padding: 6px 6px;
      }

      .fresco {
        display: flex;
        flex-direction: row;

        .row {
          display: flex;
          flex-direction: column;
          flex: 1;

          .cover {
            flex: 1;
          }
        }
      }
    }
  }
}
