
.collections-meat {
  .hub-collections-grid {
    .collection-hub-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      filter: brightness(80%);
      transition: filter 0.1s ease-in-out;

      &:hover {
        filter: brightness(100%);
        cursor: pointer;
      }

      .title {
        padding: 12px 6px 6px 8px;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
      }

      .fresco {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        overflow-x: hidden;
        position: relative;

        padding: 5px;

        .cover {
          width: 207px;
          margin-right: 7px;
          flex-shrink: 0;
          padding-bottom: 0;
        }
      }

      .info {
        flex-shrink: 0;
        padding: 6px;
        color: $secondary-text-color;

        display: flex;

        .icon {
          margin-right: 7px;
          flex-shrink: 0;
        }

        .spacer {
          flex-grow: 1;
        }

        .nice-ago {
          margin-left: 5px;
        }
      }
    }
  }
}
