
$download-cover-height: 80px;
$download-cover-width: $download-cover-height * $grid-item-ratio;

.downloads-page {
  @include meat;
  overflow-y: auto;
  padding: 0 20px 20px 20px;

  .section-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    margin: 20px 0 10px 10px;
    flex-shrink: 0;

    h2 {
      font-size: 22px;
    }

    .clear {
      margin-left: 8px;
      @include clickable;
    }
  }

  .game-actions .main-action {
    padding: 3px 10px;
  }

  .game-actions {
    &.task-download, &.task-install, &.task-configure, &.task-find-upload, &.task-launch, &.uninstalled {
      .main-action {
        text-align: center;
        font-weight: normal;
        @include discreet-button;
      }
    }
  }

  li {
    flex-shrink: 0;
    line-height: 1.6;
    border-radius: 2px;
    padding: 7px 5px 7px 10px;
    margin: 10px 0px 5px 0px;
    cursor: default;
    position: relative;

    max-width: 800px;

    border: 1px solid transparent;

    .recharts-responsive-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.finished {
      cursor: pointer;
    }

    &.first, &:hover {
      background-color: $explanation-color;
    }

    .cover, .progress, .controls, .game-title, .timeago {
      z-index: 4;
    }

    .cover, .progress {
      transition: -webkit-filter 1s;
    }

    .controls {
      transition: color 1s;
    }

    &.dimmed {
      .cover, .progress {
        -webkit-filter: grayscale(100%) brightness(50%);
      }

      .controls, .game-title {
        color: $secondary-text-color;
      }

      .stats {
        color: darken($secondary-text-color, 10%);
      }
    }

    .game-title {
      @include single-line;
      max-width: 500px;
    }

    .timeago {
      font-size: 80%;
      color: $secondary-text-color;
      display: flex;
      flex-direction: row;

      .filler {
        flex-grow: 1;
        min-width: 20px;
      }
    }

    display: flex;
    align-items: center;

    .stats {
      flex-grow: 1;
      height: $download-cover-height;
      display: flex;
      align-items: center;

      .stats-inner {
        width: 100%;
      }

      .progress {
        @include progress;
        margin: 10px 0;
        height: 5px;

        &, .progress-inner {
          border-radius: 5px;
        }
      }
    }

    .cover {
      @include default-cover-background;
      width: $download-cover-width;
      height: $download-cover-height;
      border-radius: 2px;
      margin-right: 20px;
      background-size: cover;
      background-position: 50% 50%;
      box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors

      &:hover {
        cursor: pointer;
      }
    }

    .cover, .controls {
      flex-shrink: 0;
    }

    .controls {
      margin-left: 10px;

      .icon {
        font-size: 22px;
        padding: 8px;

        width: 45px;
        text-align: center;
        display: inline-block;

        @include clickable;

        &.icon-delete {
          font-size: 18px;
        }
      }
    }
  }

  li.empty {
    color: $secondary-text-color;
  }
}
