
$download-cover-height: 80px;
$download-cover-width: $download-cover-height * $grid-item-ratio;

.downloads-page {
  @include meat;
  overflow-y: auto;
  flex-shrink: 0;
  padding: 0 20px 20px 20px;

  .section-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    margin: 20px 0 10px 10px;
    flex-shrink: 0;

    h2 {
      font-size: 22px;
    }

    .clear {
      margin-left: 8px;
      @include clickable;
    }
  }

  .game-actions .main-action {
    padding: 3px 10px;
  }

  .game-actions {
    &.task-download, &.task-install, &.task-configure, &.task-find-upload, &.task-launch, &.uninstalled {
      .main-action {
        text-align: center;
        font-weight: normal;
        @include discreet-button;
      }
    }
  }

  li {
    flex-shrink: 0;
    line-height: 1.6;
    border-radius: 4px;
    padding: 10px 5px 10px 15px;
    margin: 10px 0 0 0;
    cursor: default;

    max-width: 700px;

    border: 1px solid transparent;

    &.first, &:hover {
      background-color: $explanation-color;
    }

    .cover, .progress {
      transition: -webkit-filter 1s;
    }

    .controls {
      transition: color 1s;
    }

    &.dimmed {
      .cover, .progress {
        -webkit-filter: grayscale(100%) brightness(60%);
      }

      .controls {
        color: $secondary-text-color;
      }
    }

    .timeago {
      font-size: 80%;
      color: $secondary-text-color;
    }

    display: flex;
    align-items: center;

    .stats {
      flex-grow: 1;

      .progress {
        margin: 10px 0;
        @include progress;
      }
    }

    .cover {
      @include default-cover-background;
      width: 120px;
      height: 80px;
      border-radius: 2px;
      margin-right: 20px;
      background-size: cover;
      background-position: 50% 50%;
      box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors

      &:hover {
        cursor: pointer;
      }
    }

    .cover, .controls {
      flex-shrink: 0;
    }

    .controls {
      margin-left: 10px;

      .icon {
        font-size: 22px;
        padding: 8px;

        width: 45px;
        text-align: center;
        display: inline-block;

        @include clickable;
      }
    }
  }

  li.empty {
    color: $secondary-text-color;
  }
}
