
$meat-cover-scale: 0.4;

.game-meat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .game-essentials {
    display: flex;
    align-items: center;
    padding: $grid-padding $grid-padding * 2;
  }

  webview {
    background: #333131; // FIXME colors
    flex-grow: 1;
    margin-bottom: $status-bar-height;
  }

  .controls, .game-actions {
    padding: 0 20px;
  }

  .controls {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .game-stats {
      display: flex;
      font-size: 15px;
      color: $secondary-text-color;
      padding: 10px 0;

      div {
        margin-right: 12px;
      }
    }

    .browser-controls {
      display: flex;
      align-items: center;

      .icon {
        color: $secondary-text-color;
        font-size: 20px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        vertical-align: middle;

        &:first-child {
          padding-left: none;
        }

        -webkit-filter: brightness(90%);
        text-shadow: 0 0 1px;

        &:active {
          -webkit-transform: scale(.95);
        }

        &:hover {
          -webkit-filter: none;
          cursor: pointer;
        }

        &.loading {
          @include horizontal-scan;
        }

        &.disabled {
          -webkit-filter: brightness(50%);
          text-shadow: none;
        }
      }

      .browser-address {
        @include single-line;
        height: 32px;
        margin-left: 4px;
        color: $secondary-text-color;
        border: 1px solid darken($secondary-text-color, 20%);
        padding: 8px;
        border-radius: 2px;
        flex-grow: 1;
        max-width: 300px;
      }
    }
  }

  .game-cover {
    border-radius: 2px;
    width: $grid-item-width * $meat-cover-scale;
    height: $grid-item-height * $meat-cover-scale;

    background-color: black;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors
  }

  .game-actions {
    padding-right: 0;
    flex-direction: row-reverse;

    .main-action {
      width: 200px;
      text-align: center;
      font-size: 17px;
      padding: 15px 20px;

      .icon {
        display: none;
      }
    }

    .cave-actions {
      margin: 0;
      margin-right: 8px;
    }
  }
}
