
$meat-cover-scale: 0.4;

.game-browser-bar {
  .game-actions, .controls {
    padding: 0 20px;
  }

  .game-cover {
    flex-shrink: 0;
    border-radius: 2px;
    width: $grid-item-width * $meat-cover-scale;
    height: $grid-item-height * $meat-cover-scale;

    background-color: black;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors
  }

  .game-stats {
    display: flex;
    font-size: 15px;
    color: $secondary-text-color;
    padding: 10px 0;

    div {
      margin-right: 12px;
    }

    label {
      color: #B3B2B7; // FIXME: exceptions bad

      .nice-ago {
        color: $secondary-text-color; // sigh
      }
    }

    .total-playtime .icon {
      margin: 0 3px;
    }
  }

  .game-actions {
    flex-shrink: 0;
    padding-right: 0;
    flex-direction: row-reverse;

    .main-action {
      transition: background .2s;
      width: 200px;
      text-align: center;
      font-size: 17px;
      padding: 15px 20px;

      .icon {
        display: none;
      }

      &.branded {
        &, &:hover {
          border: inset 1px rgba(255, 255, 255, .3)
        }
      }
    }

    &.task-download, &.task-install, &.task-configure, &.task-find-upload, &.task-launch {
      .main-action {
        margin-right: 0;
        flex-grow: 1;
        text-align: center;
        font-weight: normal;
        @include discreet-button;
      }
    }

    .cave-actions {
      margin: 0;
      margin-right: 8px;
      font-size: 18px;

      .secondary-action {
        margin: 0 8px;
      }
    }
  }
}
