
$meat-cover-scale: 0.4;

.game-browser-bar {
  .game-stats {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: $secondary-text-color;
    padding: 8px 15px;

    div {
      margin-right: 12px;
    }

    label {
      color: #B3B2B7; // FIXME: exceptions bad

      .nice-ago {
        color: $secondary-text-color; // sigh
      }
    }

    .total-playtime .icon {
      margin: 0 3px;
    }

    .total-playtime, .last-playthrough {
      font-size: 14px;
      padding: 5px 0;
      margin-right: 5px;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .game-actions {
    flex-shrink: 0;
    padding-right: 0;
    height: 55px;

    .main-action {
      transition: background .2s;
      width: 200px;
      text-align: center;
      font-size: 16px;
      padding: 13px 20px;

      display: flex;
      align-items: center;
      flex-direction: column;

      .state {
        display: flex;
        align-items: center;
      }

      .icon {
        font-size: 120%;
        margin-right: 10px;
        margin-left: -10px;
      }

      &.branded {
        &, &:hover {
          border: inset 1px rgba(255, 255, 255, .3)
        }
      }
    }

    &.task-download, &.task-install &.task-configure, &.task-find-upload, &.task-launch {
      .main-action {
        margin-right: 0;
        flex-grow: 1;
        text-align: center;
        font-weight: normal;
        @include discreet-button;
      }
    }

    .main-action.buy-now {
      background-color: #5E945E;
      border-color: #9ACA9A;
    }

    .cave-actions {
      margin: 0;
      margin-right: 8px;
      font-size: 18px;

      .secondary-action {
        margin: 0 8px;
      }
    }
  }

  .secondary-dropdown {
    transition: background 0.2s;
    font-size: 22px;
    padding: 11px 15px 12px 15px;
    margin: 0 7px 0 11px;
    border-radius: 4px;
    @include secondary-link;
    -webkit-filter: brightness(90%);

    &:hover {
      -webkit-filter: none;
      background: #424242;
      transform: scale(1.08);
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .dropdown.active {
    left: -360px;
    top: 15px;
  }
}
