
.history-page {
  padding: $grid-padding;
  margin-bottom: $status-bar-height;
  overflow-y: auto;
  flex-grow: 1;

  li {
    line-height: 1.8;
    margin-bottom: 1em;

    .timeago {
      font-size: 80%;
      color: $secondary-text-color;
    }
  }

  .history-item {
    display: flex;

    .item-options {
      margin-left: 10px;
      display: flex;
    }

    .item-option {
      margin: 5px;
      text-decoration: underline;
      -webkit-filter: brightness(90%);

      &:hover {
        -webkit-filter: none;
        cursor: pointer;
      }
    }
  }
}
