
.hub-item {
  @include thumbnail-style;
  position: relative;
  background: #232222; // FIXME colors
  border: 1px solid #191919; // FIXME colors

  .gif-marker {
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
    background: #333333;
    box-shadow: 0 0 4px #333;
    color: rgba(253, 253, 253, 0.74);
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: bold;
    opacity: .8;
  }

  .cover {
    @include default-cover-background;
    background-size: cover;
    background-position: 50% 50%;
    height: $grid-item-height;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors

    &:hover {
      cursor: pointer;
    }
  }

  .undercover {
    padding: 0.5em 0.5em 0.25em 0.5em;
  }

  .title {
    @include single-line;
    padding: .2em 0;
    margin: 0 0 4px 0;
    text-shadow: 0 0 1px $ui-text-shadow-color;
  }
}

.game-actions .main-action {
  @include heavy-button;
  transition-property: color, background, border;
  transition-duration: .2s;

  font-size: $base-text-size;
  border-width: 1px;
  font-weight: bold;
  padding: 10px;
  border-radius: 2px;

  &:active {
    transform: scale(.95);
  }
}

.hub-item, .downloads-page {
  .game-actions {
    height: 3em;
    display: flex;
    align-items: center;

    &.task-download, &.task-install, &.task-configure, &.task-launch, &.task-find-upload {
      .cave-actions {
        display: none;
      }
    }

    .not-platform-compatible {
      line-height: 1.4;
      font-size: 90%;
      color: $secondary-text-color;
    }

    .main-action .icon {
      margin-right: 7px;
      font-size: 80%;
    }
  }
}

.cave-actions {
  margin-left: 8px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  .secondary-action {
    margin: 0 6px;
    color: $secondary-text-color;

    &:hover {
      color: $base-text-color;
      cursor: pointer;
    }

    &:active {
      transform: scale(.95);
    }
  }
}

.hub-item, .downloads-page {
  .game-actions {
    &.uninstalled {
      .main-action {
        @include discreet-button;
      }
    }

    &.task-download, &.task-install, &.task-configure, &.task-launch, &.task-find-upload, &.task-launch {
      .main-action {
        margin-right: 0;
        flex-grow: 1;
        text-align: center;
        font-weight: normal;
        @include discreet-button;
      }
    }
  }
}

.hub-item.leader {
  flex-basis: 100%;
  display: flex;

  .description {
    border-right: inset 1px rgba(255, 255, 255, 0.15)
  }

  .cover {
    flex-shrink: 0;
    width: 180px;
    height: 140px;
  }

  .description {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: #272727;

    .description-content {
      padding: 10px 15px;
    }

    &:hover {
      cursor: pointer;
    }

    .description-content {
      z-index: 5;
    }
  }

  .game-stats {
    font-size: 14px;
    color: $secondary-text-color;
    flex-basis: 200px;
    flex-shrink: 0;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    line-height: 1.6;

    label {
      color: #B3B2B7; // FIXME: exceptions bad

      .nice-ago {
        color: $secondary-text-color; // sigh
      }
    }

    .icon {
      margin: 0 3px;
    }
  }

  .title {
    @include single-line;
    font-size: 20px;
    font-weight: bold;
  }

  .short-text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.6;
  }

  .game-actions {
    flex-basis: 170px;
    flex-shrink: 0;
    align-self: center;
    justify-content: space-between;
    height: auto;
    padding: 10px;

    .cave-actions {
      margin-bottom: 10px;
      flex-grow: 0;

      .secondary-action {
        font-size: 18px;
      }
    }

    .main-action {
      @include heavy-button;
      width: 100%;
      padding: 15px 0;
      text-align: center;

      background: rgba(60, 60, 60, 0.58);
      border-color: rgba(72, 72, 72, 0.33);
    }
  }
}
