
.collection-meat, .collections-meat, .library-meat, .dashboard-meat, .location-meat {
  @include meat;

  padding: 0;
  box-shadow: inset 0 0 10px $sidebar-background-color;
  overflow: hidden;

  .infinite-grid-wrapper {
    height: 100%;
    overflow-x: hidden;
  }

  h2 {
    margin: 10px 0 15px 0;
    text-align: center;
    font-size: 22px;
    display: none;

    &.shown {
      display: block;
    }
  }

  .collection-hub-item {
    margin: 10px 20px;
    text-decoration: underline;
    -webkit-filter: brightness(90%);

    &:hover {
      -webkit-filter: none;
      cursor: pointer;
    }
  }
}
