
.library-meat, .dashboard-meat {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;

  padding: $grid-padding;
  padding-bottom: 40px;

  h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 22px;
    display: none;

    &.shown {
      display: block;
    }
  }

  .collection-hub-item {
    margin: 10px 20px;
    text-decoration: underline;
    -webkit-filter: brightness(90%);

    &:hover {
      -webkit-filter: none;
      cursor: pointer;
    }
  }
}
