
.collection-meat, .collections-meat, .library-meat, .dashboard-meat, .location-meat {
  @include meat;

  h2 {
    margin: 10px 0 15px 0;
    text-align: center;
    font-size: 22px;
    display: none;

    &.shown {
      display: block;
    }
  }

  section.filters {
    display: flex;
    align-items: center;
    width: 100%;
    background: $bread-background-color;
    box-shadow: 0 4px 8px -4px $bread-background-color;
    flex-shrink: 0;
    padding-right: 4px;

    .link, .link-icon {
      margin-left: 8px;
      font-size: 14px;
      @include clickable;
    }

    .link {
      text-decoration: underline;
    }

    .spacer {
      flex-grow: 1;
    }

    .layout-picker {
      position: relative;
      padding: 8px 10px;
      border-radius: 50%;
      font-size: 90%;
      filter: brightness(60%);

      &:hover {
        cursor: pointer;
        filter: brightness(80%);
      }

      &.active {
        filter: brightness(100%);
      }
    }
  }

  section.checkboxes {
    label {
      padding: 4px;
      padding-right: 8px;
      font-size: 14px;
      background: $explanation-color;
      border-radius: 4px;
      display: flex;
      align-items: center;

      input[type=checkbox] {
        margin-right: 4px;
      }
    }
  }

  section.search {
    margin: 8px 8px;
    position: relative;
    padding: 0;

    .icon-filter {
      position: absolute;
      left: 10px;
      bottom: 50%;
      transform: translateY(55%);
      font-size: 14px;
      color: $input-placeholder-color;
      pointer-events: none;

      &.active {
        color: $light-accent-color;
      }
    }

    input[type=search] {
      border: 2px solid #404040;
      border-radius: 4px 2px 4px 2px;
      background-color: #2D2B2B;
      color: #D4CECE;
      text-shadow: 0 0 2px black;
      box-shadow: 0 0 2px #1B1919;
      transition: all 0.2s;
      width: 200px;
      text-indent: 16px;
      padding: 6px 10px 5px 9px;
      height: 32px;
      font-size: 14px;
    }
  }
}
