
.preferences-meat {
  @include meat
  padding: 30px 20px;
  font-size: 20px;

  color: $ivory;

  .preferences-background {
    position: absolute;
    right: 0px;
    top: 30px;
  }

  .install-locations-header {
    padding: 20px 0;
  }

  .preferences-form {
    z-index: 5;
  }

  .select-row {
    display: inline-block;
  }

  .select-row select {
    margin-left: 10px;
  }

  .locale-fetcher {
    display: inline-block;
    font-size: 80%;
    margin-left: 8px;
    opacity: .7;

    &:hover {
      opacity: 1;
      cursor: hand;
    }
  }

  .buttons {
    float: right;
    opacity: .7;

    &:hover {
      opacity: 1;
      cursor: hand;
    }
  }

  .get-involved {
    margin: 20px 15px;
    font-size: 80%;
  }

  .get-involved .icon {
    margin-right: 8px;
  }

  .get-involved a {
    color: #87A7C3;
    text-decoration: none;
  }

  .preferences-background {
    @include icon-as-background;
  }

  .install-locations {
    width: 100%;
    font-size: 15px;
    padding: 5px 0;
    border-collapse: collapse;

    th, td {
      padding: 7px 15px;
      text-align: left;
    }

    td {
      border-top: 1px solid #4A4848;
      color: #999;
    }

    .action {
      transition: all .4s;
      color: white;
      opacity: .8;

      .icon-plus, .icon-refresh, .icon-stopwatch, .icon-folder {
        font-size: 80%;
        margin-right: 8px;
      }

      &.default .icon {
        color: #FDD660;
      }

      &.not-default .icon {
        color: #777575;
      }

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
