
.hub-search-results {
  background: $sidebar-background-color;
  border-left: 1px solid $sidebar-border-color;
  border-bottom: 1px solid $sidebar-border-color;

  width: $right-sidebar-width;

  position: absolute;
  right: -$right-sidebar-width;
  top: 0;
  bottom: 100px;
  box-shadow: 0 0 30px $sidebar-background-color;
  border-radius: 0 0 0 2px;

  overflow: hidden;
  transition: right 0.2s ease-in-out;

  display: flex;
  flex-direction: column;

  .header, p {
    margin: 1em;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 0 20px $sidebar-background-color;

    h3 {
      font-size: 17px;
      font-weight: bold;
    }

    .filler {
      flex-grow: 1;
    }

    .close-search {
      -webkit-filter: brightness(80%);

      &:hover {
        cursor: pointer;
        -webkit-filter: brightness(100%);
      }
    }
  }

  .footer {
    flex-shrink: 0;
    display: flex;
    padding: 15px;
    box-shadow: 0 0 20px $sidebar-background-color;

    .filler {
      flex-grow: 1;
    }

    .button {
      @include heavy-button;
      @include discreet-button;
      padding: 10px;
      font-size: 16px;
      display: inline-block;
    }
  }

  .result-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
  }

  .search-result {
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2em .5em;

    h4 {
      text-shadow: 0 0 2px $input-text-shadow-color;
      padding: .2em 0;
      margin: .5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background: $sidebar-entry-focused-background-color;
      cursor: pointer;
    }

    img {
      @include thumbnail-style;
      flex-shrink: 0;
      margin-left: .5em;
      width: 85px;
      height: 67.6px;
    }

    .spacer {
      flex-grow: 100;
    }

    .icon-button {
      @include secondary-link;
      margin-right: .5em;

      &:hover {
        opacity: .7;
        cursor: pointer;
      }
    }
  }

  &.active {
    right: 0;
  }
}
