
$search-thumbnail-scale: 0.8;

.hub-search-results {
  background: $sidebar-background-color;
  border-right: 1px solid $sidebar-border-color;
  border-bottom: 1px solid $sidebar-border-color;
  opacity: 0.0;

  width: $search-sidebar-width;

  position: absolute;
  left: -$search-sidebar-width - 30px;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 30px $sidebar-background-color;
  border-radius: 0 0 0 2px;

  overflow: hidden;
  transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;

  display: flex;
  flex-direction: column;

  .header, p {
    margin: 8px 12px;
  }

  p.no-results {
    font-size: 16px;
    text-align: center;
    background-color: #2b2a2a;
    padding: 12px 8px;
    border-radius: 4px;
  }

  h3 {
    padding: 8px 12px 6px 12px;
    margin: 8px 0;
    box-shadow: 0 0 8px #171717;
    background: #252525;
    font-size: 16px;
    text-align: left;
    flex-shrink: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 0 20px $sidebar-background-color;
    color: $secondary-text-color;

    h2 {
      font-size: 16px;
    }

    .filler {
      flex-grow: 1;
    }

    .close-search {
      -webkit-filter: brightness(80%);

      &:hover {
        cursor: pointer;
        -webkit-filter: brightness(100%);
      }
    }
  }

  .footer {
    flex-shrink: 0;
    display: flex;
    padding: 15px;
    box-shadow: 0 0 20px $sidebar-background-color;

    .filler {
      flex-grow: 1;
    }

    .button {
      @include heavy-button;
      @include discreet-button;
      padding: 10px;
      font-size: 14px;
      display: inline-block;
    }
  }

  .result-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    font-size: 14px;
  }

  .search-result {
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2em .5em;

    .title-block {
      overflow-x: hidden;
      margin: .5em;
    }

    h4 {
      @include single-line;
      text-shadow: 0 0 2px $input-text-shadow-color;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h4, .platforms {
      padding: .4em 0;
    }

    .platforms {
      display: block;
      opacity: .8;

      .icon {
        font-size: 90%;
        margin-left: 2px;
        margin-right: 5px;
      }

      .price {
        color: #888;
        font-size: 90%;
      }
    }

    &:hover {
      background: $sidebar-entry-focused-background-color;
      cursor: pointer;
    }

    img {
      @include thumbnail-style;
      @include default-cover-background;
      flex-shrink: 0;
      margin-left: .5em;
      width: 80px * $search-thumbnail-scale;
      height: 67.6px * $search-thumbnail-scale;
    }

    .spacer {
      flex-grow: 100;
    }

    .icon-button {
      @include secondary-link;
      margin-right: .5em;

      &:hover {
        opacity: .7;
        cursor: pointer;
      }
    }

    &.not-platform-compatible {
      opacity: .4;
    }

    &.user-search-result {
      img {
        width: 34px;
        height: 34px;
        border-radius: 4px;
      }
    }
  }

  &.active {
    left: 0;
    opacity: 1.0;
  }
}
