
@keyframes sidebar-swoop-in {
  0% { -webkit-transform: scale(1, 0) }
  100% { -webkit-transform: scale(1, 1) }
}

@keyframes sidebar-swoop-in {
  0% { -webkit-transform: scale(1, 1) }
  100% { -webkit-transform: scale(1, 0) }
}

.hub-sidebar-handle {
  background: $sidebar-background-color;
  height: '100%';
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8px;

  &:hover {
    cursor: col-resize;
  }

  &.mini {
    display: none;
  }
}

.hub-sidebar {
  background: $sidebar-background-color;

  overflow: hidden;
  height: 100%;
  width: 240px;
  flex-grow: 0;
  flex-shrink: 0;

  padding-bottom: $status-bar-height;

  display: flex;
  align-items: stretch;
  flex-direction: column;

  &.mini {
    .me img {
      margin: 0 auto;
    }

    .sidebar-items {
      align-items: center;
    }

    .hub-sidebar-item {
      width: 100%;
      border-width: 0;
      border-radius: 0;
      padding: 0;

      .label, .bubble, .filler, .kb-shortcut, .me-dropdown, .close-icon {
        display: none;
      }
    }

    .symbol {
      margin: 0 auto !important;
    }

    h2 {
      display: none;
    }
  }

  &.osx:not(.fullscreen) .title-bar-padder {
    flex-basis: 20px;
    flex-shrink: 0;
  }

  .sidebar-items {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    overflow-y: auto;
  }

  .hub-sidebar-item {
    transition: border-color 0.2s;
    border-left: 3px solid transparent;
    border-radius: 0 4px 4px 0;
    word-break: break-word;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 2px 0;
    margin-right: 0;
    padding: 7px 8px 7px 3px;
    min-height: 40px;

    &:hover {
      cursor: pointer;
      background: darken($sidebar-entry-focused-background-color, 5%);
      color: $ivory;
    }

    .icon {
      flex-shrink: 0;
      margin: 0 10px 0 6px;
      font-size: 90%;

      &.icon-itchio {
        margin: 0 8px 0 4px;
        font-size: 120%;
      }
    }

    .label {
      @include single-line;
    }

    .icon-image {
      flex-shrink: 0;
      margin: 0 10px 0 4px;
      border-radius: 1px;
      width: 16px;
      height: 16px;
      background-size: cover;
    }

    * {
      flex-grow: 0;
    }

    .filler {
      flex-grow: 1;
    }

    .icon-cross {
      margin: 0 0 0 4px;
      opacity: 0;

      color: $ternary-text-color;
      &:hover {
        color: $secondary-text-color;
      }
    }

    &:hover {
      .icon-cross {
        opacity: 1;
      }
    }

    &.new-tab {
      -webkit-filter: brightness(50%);
    }

    &[data-dragging=true] {
      background: transparent;
    }

    &.fresh {
      animation: sidebar-swoop-in .2s ease-out;
    }

    &.dying {
      animation: sidebar-swoop-out .2s ease-in;
    }

    &.active {
      .icon-cross {
        opacity: 1;
        color: $secondary-text-color;

        &:hover {
          color: $ivory;
        }
      }

      border-color: $secondary-text-color;

      &[data-path='library'] {
        border-color: #D2BE53;
      }

      &[data-path='featured'] {
        border-color: #F96F6F;
      }

      &[data-path='dashboard'] {
        border-color: #4EA260;
      }

      &[data-path='press'] {
        border-color: #BF8036;
      }

      background: $sidebar-entry-focused-background-color;
    }

    .bubble {
      font-size: 11px;
      background: white;
      border-radius: 2px;
      color: $sidebar-background-color;
      font-weight: bold;
      padding: 1px 6px;
      margin-left: 8px;
    }

    .kb-shortcut {
      margin-right: 0;
    }
  }

  h2 {
    text-transform: uppercase;
    color: $ternary-text-color;

    padding: 0 14px;
    margin: 20px 0 8px 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  .me {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
      flex-grow: 0;
    }

    .filler {
      flex-grow: 1;
    }

    .icon {
      margin: 0;
    }

    img {
      height: 2em;
      width: 2em;
      margin: 0 5px;
      border-radius: 2px;
    }
  }
}
