
@keyframes sidebar-swoop-in {
  0% { -webkit-transform: scale(1, 0) }
  100% { -webkit-transform: scale(1, 1) }
}

@keyframes sidebar-swoop-in {
  0% { -webkit-transform: scale(1, 1) }
  100% { -webkit-transform: scale(1, 0) }
}

.hub-sidebar-handle {
  background: $sidebar-background-color;
  height: '100%';
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8px;

  &:hover {
    cursor: col-resize;
  }
}

.hub-sidebar {
  background: $sidebar-background-color;

  overflow: hidden;
  height: 100%;
  width: 240px;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  align-items: stretch;
  flex-direction: column;

  &.osx:not(.fullscreen) .title-bar-padder {
    flex-basis: 20px;
    flex-shrink: 0;
  }

  .sidebar-items {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    overflow-y: auto;
  }

  section {
    transition: border-color 0.2s;
    border-left: 3px solid transparent;
    border-radius: 0 4px 4px 0;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 2px 0;
    margin-right: 0;
    padding: 10px 8px 10px 3px;

    &:hover {
      cursor: pointer;
      background: darken($sidebar-entry-focused-background-color, 5%);
      color: $ivory;
    }

    .icon {
      margin: 0 8px;
    }

    * {
      flex-grow: 0;
    }

    .filler {
      flex-grow: 1;
    }

    .icon-cross {
      margin: 0 0 0 4px;
      opacity: 0;

      color: $ternary-text-color;
      &:hover {
        color: $secondary-text-color;
      }
    }

    &:hover {
      .icon-cross {
        opacity: 1;
      }
    }

    &.empty {
      opacity: .5;
    }

    &[data-dragging=true] {
      background: transparent;
    }

    &.fresh {
      animation: sidebar-swoop-in .2s ease-out;
    }

    &.dying {
      animation: sidebar-swoop-out .2s ease-in;
    }

    &.active {
      .icon-cross {
        opacity: 1;
        color: $secondary-text-color;

        &:hover {
          color: $ivory;
        }
      }

      border-color: $secondary-text-color;

      &[data-path='library'] {
        border-color: #E24957;
      }

      &[data-path='featured'] {
        border-color: #D2BE53;
      }

      &[data-path='dashboard'] {
        border-color: #4EA260;
      }

      background: $sidebar-entry-focused-background-color;
    }

    .bubble {
      font-size: 11px;
      background: white;
      border-radius: 2px;
      color: $sidebar-background-color;
      font-weight: bold;
      padding: 1px 6px;
      margin-left: 8px;
    }
  }

  h2 {
    text-transform: uppercase;
    color: $ternary-text-color;

    padding: 0 14px;
    margin: 20px 0 8px 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  .me {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
      flex-grow: 0;
    }

    .filler {
      flex-grow: 1;
    }

    .icon {
      margin: 0;
    }

    img {
      height: 2em;
      width: 2em;
      margin: 0 5px;
      border-radius: 2px;
    }
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown {
    background-color: lighten($sidebar-background-color, 5%);
    border: 1px solid $sidebar-border-color;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 8px $sidebar-background-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 1px;
    visibility: hidden;

    &.active {
      visibility: visible;
    }

    section  {
      border-radius: 1px;
      margin: 0;
    }

    section:hover {
      background-color: lighten($sidebar-entry-focused-background-color, 5%);
    }
  }
}
