
.toast-meat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  p, h2, .button, .link, .leader {
    margin: 20px 0;
    flex: auto 0;
  }

  .error {
    color: $secondary-text-color;
  }

  .leader {
    margin: 40px 0 0px 0;
  }

  h2 {
    font-size: 24px;
  }

  .link {
    @include clickable;
    text-decoration: underline;
  }

  .leader {
    font-size: 60px;
  }

  .button {
    @include heavy-button;
  }
}
