
/*
 * various itch.io brand colors
 */

$accent-color: $carnation;
$light-accent-color: $vivid-tangerine;

$error-color: $flush-mahogany;
$warning-color: $mint-julep;
$success-color: $gossip;

$buy-color: $shamrock;
$sale-color: $amber;
$bundle-color: $heliotrope;

$explanation-color: #464545;
$explanation-border-radius: 4px;

$meat-background-color: #333131;

/*
 * ui elements
 */

$ui-background-color: #2D2B2B;

$ui-border-color: #404040;
$ui-focused-border-color: #676767;

$pref-border-color: $zambezi;

$ui-text-shadow-color: black;
$ui-box-shadow-color: #1B1919;

// input fields

$input-background-color: $ui-background-color;

$input-border-color: $ui-border-color;
$input-focused-border-color: $ui-focused-border-color;

$input-text-color: #D4CECE;
$input-placeholder-color: #777;

$input-text-shadow-color: $ui-text-shadow-color;

$input-box-shadow-color: $ui-box-shadow-color;
$input-focused-box-shadow-color: #1B1919;

$base-background-color: $dark-mine-shaft;
$base-text-color: $ivory;

// button

$button-background-color: $accent-color;
$button-light-background-color: $light-accent-color;
$button-border-color: $light-accent-color;

$button-text-color: $ivory;

$heavy-button-background-color: $button-background-color;
$heavy-button-border-color: $light-accent-color;

// sidebar

$sidebar-background-color: $cod-gray;
$sidebar-border-color: $light-mine-shaft;

$sidebar-entry-focused-background-color: lighten($sidebar-background-color, 10%);

// bread

$bread-background-color: #292727;
$bread-box-shadow-color: #171717;

$filter-background-color: #4A4848;
$filter-border-color: #333;

$filter-tag-border-color: #777575;
$filter-tag-background-color: #5F5C5C;
$filter-tag-text-color: #E0DFDF;

// misc

$secondary-text-color: darken($silver-chalice, 10%);
$secondary-text-hover-color: lighten($ivory, 10%);

$tooltip-background-color: $swiss-coffee;
$tooltip-text-color: $cod-gray;

$secondary-link-color: $swiss-coffee;
$secondary-link-hover-color: $ivory;

$ternary-text-color: $zambezi;
