
// general
$base-text-size: 16px;

$status-bar-height: 0;

// gate
$gate-grid-height: 64px;

// the grid
$grid-item-ratio: 250 / 190;
$grid-item-width: 235px;
$grid-item-height: $grid-item-width / $grid-item-ratio;

$grid-padding: 10px;

// right sidebar
$search-sidebar-width: 400px;
