Source: itch
Section: games
Priority: optional
Maintainer: Amos Wenger <amos@itch.io>
Build-Depends: debhelper (>= 9)
# other build-dependencies are installed by debian-build-package.sh
Standards-Version: 3.9.6
Homepage: https://itch.io
Vcs-Git: https://github.com/itchio/itch
Vcs-Browser: https://github.com/itchio/itch

Package: itch
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, p7zip-full
Description: install and play itch.io games easily
 The goal of this project is to give you a desktop application that you can
 download and run games from itch.io with. Additionally you should be able to
 update games and get notified when games are updated. The goal is not to
 replace the itch.io website.

