#!/usr/bin/make -f

JOBS := $(shell nproc || echo 2)
PKG = itch

# PATH for npm and node
_PATH="$(CURDIR)/`cat debian/NODE-RELEASE`/bin:$(CURDIR)/node_modules/.bin:$$PATH"

ifeq ($(DEB_HOST_ARCH),amd64)
ELECTRON_ARCH=x64
else
# assume i386 if $(DEB_HOST_ARCH) isn't amd64;
# adjust if you want to build for another arch
ELECTRON_ARCH=ia32
endif

# no hardening and debug flags required for sassc,
# it's only used for building
export CFLAGS=-O2
export CXXFLAGS=-O2


%:
	dh ${@}

override_dh_auto_clean:
	rm -rf build sassc/libsass/tmp

override_dh_auto_build:
	cd sassc/libsass/ && \
	autoreconf -if && \
	./configure --host=$(DEB_HOST_GNU_TYPE) \
		--prefix=$(CURDIR)/sassc/libsass/tmp \
		--enable-static \
		--disable-shared && \
	$(MAKE) clean && \
	$(MAKE) -j$(JOBS) && \
	$(MAKE) install

	cd sassc && \
	autoreconf -if && \
	./configure --host=$(DEB_HOST_GNU_TYPE) \
		--enable-static \
		--disable-shared \
		--with-libsass=$(CURDIR)/sassc/libsass/tmp && \
	$(MAKE) clean && \
	$(MAKE)
	install -m755 -D -s sassc/sassc "$(CURDIR)/`cat debian/NODE-RELEASE`/bin/sassc"

	PATH=$(_PATH) release/prepare.sh
	PATH=$(_PATH) CI_APPNAME=$(PKG) release/generate-itch-desktop.sh
	PATH=$(_PATH) grunt -v "electron:linux-$(ELECTRON_ARCH)"

	# remove executable bit from shared libraries
	chmod a-x build/v*/$(PKG)-linux-*/*.so

override_dh_auto_test:
	PATH=$(_PATH) npm test

override_dh_install:
	# don't install LICENSE, we have debian/copyright for that;
	# install LICENSES.chromium.html (which doesn't seem to trigger
	# lintian) into docs via debian/docs
	dh_install -XLICENSE -XLICENSES.chromium.html

	$(foreach SIZE,16 32 48 64 128 256 512,\
		mkdir -p $(CURDIR)/debian/$(PKG)/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps ;\
		install -m644 release/itch-icons/icon$(SIZE).png \
			$(CURDIR)/debian/$(PKG)/usr/share/icons/hicolor/$(SIZE)x$(SIZE)/apps/$(PKG).png ;)

# this package doesn't provide shared libraries for the system library search
# path, so override dh_makeshlibs as it might still be triggered by itch's
# private libraries
override_dh_makeshlibs:

