
// general
$base-text-size: 16px;

$status-bar-height: 45px;

// gate
$gate-grid-height: 64px;

// the grid
$grid-item-width: 250px;
$grid-item-height: 190px;

$grid-padding: 10px;

// right sidebar
$right-sidebar-width: 1.5 * $grid-item-width + 20px // FIXME: this computation makes no sense
