@font-face {
  font-family: 'Lato';
  src: url(../font/lato-bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(../font/lato-regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(../font/lato-light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
