
$cod-gray: #1D1C1C;
$dark-mine-shaft: #2E2B2C;
$light-mine-shaft: #383434;
$zambezi: #5D5757;
$silver-chalice: #A0A0A0;
$swiss-coffee: #DAD2D2;
$ivory: #FFFFF0;

$flush-mahogany: #d14343;
$mint-julep: #efeebf;
$gossip: #b9e8a1;

$shamrock: #24c091;
$amber: #ffc200;
$heliotrope: #c17dff;

$carnation: #fa5c5c;
$vivid-tangerine: #ff8080;

$spooky: #ff713e;
$spooky-light: #ff9c6d;
