
.dropdown-container {
  position: relative;
}

.dropdown {
  background-color: lighten($sidebar-background-color, 5%);
  border: 1px solid $sidebar-border-color;
  border-radius: 4px;
  box-shadow: 0 0 8px $sidebar-background-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 1px;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  .dropdown-item  {
    border-radius: 1px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 2px 0;
    margin-right: 0;
    padding: 10px 8px 10px 3px;

    &:hover {
      cursor: pointer;
      background-color: lighten($sidebar-entry-focused-background-color, 5%);
    }

    .icon {
      margin: 0 8px;
    }
  }
}
