
$dropdown-background-color: lighten($sidebar-entry-focused-background-color, 5%);

.dropdown-container {
  position: relative;

  &.disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.dropdown {
  background-color: lighten($sidebar-background-color, 5%);
  border: 1px solid $dropdown-background-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 1px;
  visibility: hidden;

  &.updown {
    top: initial;
    bottom: 60px;
  }

  &.active {
    visibility: visible;
  }

  .dropdown-item  {
    border-radius: 1px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 8px 10px 3px;
    line-height: 1.4;
    font-size: 14px;

    &:hover {
      cursor: pointer;
      background-color: $dropdown-background-color;
    }

    .icon {
      margin: 0 8px;
    }

    &.type-info {
      color: #6D6D6D;
    }

    &.type-separator {
      height: 1px;
      padding: 0;
      background: #444242;
    }
  }
}
