
.kb-shortcut {
  border-radius: 4px;
  padding: 3px;
  display: flex;
  align-items: center;
  margin: 0 8px;
  background: #E7ECF3;
  color: rgb(82, 80, 80);
  text-shadow: 0 0 2px #D4D4D4;
  opacity: 0.6;

  .icon {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 90%;
  }
}

.kb-shortcut {
  visibility: hidden;
}

.shortcuts-shown .kb-shortcut {
  visibility: visible;
}
