
.ReactModal__Overlay--after-open {
  animation: drop-down .2s;
}

.ReactModal__Content .modal {
  min-width: 200px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    background: $sidebar-background-color;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;

    h2 {
      color: $secondary-text-color;
      font-size: $base-text-size + 2px;
    }

    .close-modal {
      font-size: 20px;
      @include secondary-link;
    }

    .filler {
      flex-grow: 8;
    }
  }

  .body {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.6;

    ul {
      list-style-type: disc;
      margin-bottom: 1.5em;

      li {
        margin-left: 1.5em;
      }
    }

    .message {
      padding: 0 40px;
      overflow-y: auto;
      max-height: 380px;
      -webkit-user-select: initial;

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: .4em;
        font-size: $base-text-size + 2px;
        font-weight: bold;
      }

      a {
        color: darken($ivory, 5%);

        &:hover {
          color: $ivory;
          cursor: pointer;
        }
      }
    }

    .message .secondary {
      color: $secondary-text-color;
    }

    p {
      line-height: 1.4;
      margin: 8px 0;
    }

    .icon {
      margin-top: 8px;
      margin-right: 12px;
      font-size: 48px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    .filler {
      flex-grow: 8;
    }

    .button {
      margin: 0 8px;
      @include light-button;

      &.secondary {
        @include light-button($ui-background-color);
      }

      .icon {
        margin-right: 5px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        -webkit-filter: brightness(110%);
      }

      &:active {
        transform: scale(.95);
      }
    }
  }
}
