
.status-bar {
  height: $status-bar-height;
  animation: bottom 0.2s;
  padding: 8px;

  font-size: $base-text-size - 2px;

  background: $sidebar-background-color;
  border-top: 1px solid $sidebar-border-color;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  .plug, .history, .downloads {
    transition-property: color, background, border;
    transition-duration: .4s;

    position: relative;
    color: $secondary-text-color;
    -webkit-filter: brightness(90%);
    font-size: 18px;
    margin-right: 12px;
    min-width: 50px;
    padding-left: 20px;

    .bubble {
      position: absolute;
      left: 29px;
      top: -7px;
    }

    &:hover {
      cursor: pointer;
      -webkit-filter: brightness(110%);
    }

    &.active {
      color: $light-accent-color;
    }

    &.bounce {
      animation: bounce .4s linear;
    }

    &:active {
      transform: scale(.95);
    }
  }

  .bubble {
    background: $light-accent-color;
    padding: 0 4px;
    margin: 0 4px;
    border-radius: 2px;
    font-size: 12px;
    color: $sidebar-background-color;
    font-weight: bold;
  }

  .timeago {
    margin-left: 4px;
    font-size: 12px;
    -webkit-filter: rotate-hue(120deg);
  }

  &.active {
    bottom: 0;

    .self-update:hover {
      cursor: pointer;
      -webkit-filter: brightness(110%);
    }
  }

  &.indev {
    background-image: -webkit-repeating-linear-gradient(-55deg, #3C320F 0, #3C320F 15px, #1B1A16 15px, #1B1A16 25px);
  }

  .self-update {
    &.busy {
      .icon:first-child {
        @include horizontal-scan;
      }
    }
  }

  .padder {
    flex-grow: 1;
  }

  .icon {
    margin-right: 8px;
  }

  .icon-cross {
    margin-left: 8px;
    -webkit-filter: brightness(90%);

    &:hover {
      -webkit-filter: none;
    }
  }
}
