
.status-bar {
  height: $status-bar-height;
  animation: bottom 0.2s;
  padding: 8px;

  font-size: $base-text-size - 2px;

  background: $sidebar-background-color;
  border-top: 1px solid $sidebar-border-color;

  .plug {
    color: $secondary-text-color;
    -webkit-filter: brightness(90%);

    &:hover {
      cursor: pointer;
      -webkit-filter: brightness(110%);
    }

    &.active {
      color: $light-accent-color;
    }
  }

  &.active {
    bottom: 0;

    .message:hover {
      cursor: pointer;
      -webkit-filter: brightness(110%);
    }
  }

  .self-update {
    &.busy {
      .icon:first-child {
        @include horizontal-scan;
      }
    }
  }

  display: flex;
  flex-direction: row;
  align-items: center;

  .padder {
    flex-grow: 8;
  }

  .icon {
    margin-right: 8px;
  }
}
