
@import 'pages/gate/form';

.gate-page {
  animation: drop-down .3s ease-in;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  section {
    flex-grow: 0;
  }

  .top-filler {
    flex-grow: 1;
  }

  .logo {
    flex-grow: 1;
    pointer-events: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 90%;
      margin: 0 auto;
    }
  }

  .errors {
    color: $warning-color;
    height: 4em;
    max-width: 400px;
    white-space: pre-wrap;
    overflow-y: auto;

    -webkit-user-select: initial;

    li {
      margin: 4px 0;
      line-height: 1.4;
    }

    .welcome-back {
      color: $ivory;
      font-size: 18px;
    }
  }

  .errors, .actions {
    .icon {
      margin-right: .4em;
      font-size: 120%;
      vertical-align: middle;
    }
  }

  .actions {
    height: 5em;
  }

  .crux {
    flex-grow: .2;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
  }

  .actions {
    color: $secondary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5em;

    .icon.scanning {
      @include horizontal-scan;
      margin-right: 12px;
    }

    p {
      font-size: 20px;
    }
  }

  .links {
    flex-grow: 1;
    font-size: 16px;
    transition: 0 .2s;
    margin: 1em 0;
    color: $swiss-coffee;

    .link {
      @include secondary-link;
    }
  }

  &.disabled {
    form input, .links {
      pointer-events: none;
      opacity: 0;
    }
  }

  &[data-stage='pick'] {
    form input {
      pointer-events: none;
      opacity: 0;
    }
  }

  &[data-stage='ready'] {
    .crux, .links, .actions, .errors {
      pointer-events: none;
      opacity: 0;
    }

    .top-filler {
      transition: all 0.8s;
      flex-grow: 10;
    }

    .logo {
      transition: all 0.8s ease-in;
      opacity: 0;
    }
  }

  .status-container.error {
    line-height: 1.4;
    font-size: 16px;
    white-space: pre;
    text-align: center;

    .retry-setup {
      display: block;
      font-size: 48px;
      margin: 20px;

      @include clickable;
    }
  }

  .remembered-sessions {
    animation: fade-in .2s;

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    .remembered-session {
      flex-shrink: 0;
      min-width: 300px;
      border-radius: 2px;
      background: $sidebar-background-color;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 8px 4px;

      .avatar {
        -webkit-filter: grayscale(100%);

        width: $gate-grid-height;
        height: $gate-grid-height;
        border-radius: 2px;
        margin-right: 4px;
      }

      &:hover .avatar {
        -webkit-filter: grayscale(0%);
      }

      p {
        padding: 2px 0;
      }

      .rest {
        padding: 6px 8px;
      }

      .filler {
        flex-grow: 8;
      }

      .forget-session {
        padding: 12px;
        visibility: hidden;
        color: $ternary-text-color;
        @include clickable;
      }

      &:hover .forget-session {
        visibility: visible;
      }

      .username {
        color: $ivory;
        font-weight: bold;
        padding: 4px 0;
      }

      .last-connected {
        color: $secondary-text-color;
        font-size: 14px;
      }

      box-shadow: 0 0 4px $sidebar-background-color;

      &:hover {
        box-shadow: 0 0 8px $sidebar-background-color;
        cursor: pointer;
      }

      &:active {
        -webkit-filter: brightness(70%);
      }
    } // remembered-session
  }
}
