
$meat-cover-scale: 0.4;
$context-cover-scale: 0.8;
$secondary-action-bg: #2b2b2b;

@keyframes redden {
  0% {
    background-color: $secondary-action-bg;
  }
  25% {
    background-color: $accent-color;
    color: white;
  }
  100% {
    background-color: $secondary-action-bg;
  }
}

.browser-meat .game-browser-context {
  flex-direction: column;
  align-items: stretch;
  padding: 12px;
  border-left: 1px solid #3e3e3e;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.16);
  z-index: 50;
  overflow-y: auto;
  overflow-x: hidden;

  .cover {
    width: 100%;
    padding-bottom: 73%;
    margin-right: 8px;
    border-radius: 2px;
    background-color: black;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3); // FIXME colors

    position: relative;

    .gif-marker {
      @include gif-marker;
    }
  }

  .game-stats {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: $secondary-text-color;
    padding: 16px 0;
    line-height: 1.8;
    flex-shrink: 0;

    div {
      margin-right: 12px;
    }

    label {
      color: #B3B2B7; // FIXME: exceptions bad

      .nice-ago {
        color: $secondary-text-color; // sigh
      }

      &.original-price {
        text-decoration: line-through;
        color: inherit;
      }
    }

    .total-playtime .icon {
      margin: 0 3px;
    }

    .total-playtime, .last-playthrough {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .game-actions {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: column;
    padding-right: 0;
    height: auto;
    align-items: stretch;

    .main-action {
      transition: background .2s;
      font-size: 14px;
      padding: 12px 20px;
      margin: 5px 0;

      display: flex;
      align-items: flex-start;
      flex-direction: column;

      .state {
        display: flex;
        align-items: center;
      }

      .icon {
        font-size: 120%;
        margin-right: 10px;
        margin-left: -10px;
      }

      .icon, .circle-container {
        margin-left: -10px;
      }

      &.branded {
        &, &:hover {
          border: inset 1px rgba(255, 255, 255, .3)
        }
      }
    }

    .not-platform-compatible {
      padding-bottom: 15px;
      font-size: 14px;
      display: flex;
    }

    &.task-download, &.task-install, &.task-configure, &.task-find-upload, &.task-launch {
      .main-action {
        margin-right: 0;
        font-weight: normal;
        @include discreet-button;
      }
    }

    .main-action.buy-now {
      background-color: #5E945E;
      border-color: #9ACA9A;
    }

    .cave-actions {
      margin: 0;
      font-size: 14px;
      flex-direction: column;
      flex-grow: 1;

      .secondary-action {
        margin: 6px 0;
        padding: 9px 8px;
        box-shadow: 0 0 1px rgb(37, 37, 37);
        border: 1px solid rgba(234, 232, 232, 0.15);
        background: $secondary-action-bg;
        border-radius: 2px;
        display: flex;
        align-items: center;
        line-height: 1.4;

        &.type-separator, &.type-info, &.type-secondary {
          border: none;
          background: none;
        }

        &.type-separator {
          flex-grow: 1;
        }

        &.type-secondary, &.type-info {
          margin: 1px 0;
        }

        .icon {
          font-size: 16px;
          margin-right: 10px;
        }
      }

      &.encouraging-generosity {
        .generous {
          animation: 1s ease-in-out redden, .3s linear shake 0s 1;
        }
      }
    }
  }

  .dropdown.active {
    left: -360px;
    top: 15px;
  }
}
