
.throbber_loader {
  font-size: 50px;
  margin: 100px auto;
  animation: sk-rotateplane 2.4s .5s infinite ease-out;
}

@keyframes sk-rotateplane {
  0% { transform: perspective(120px); }
  50% { transform: perspective(120px) rotateY(180deg); }
  100% { transform: perspective(120px) rotateY(180deg)  rotateX(180deg); }
}

@keyframes sk-rotateplane {
  0% { transform: perspective(120px) rotateY(0deg); }
  25% { transform: perspective(120px) rotateY(-180deg); }
  50% { transform: perspective(120px) rotateY(-180deg); }
  75% { transform: perspective(120px) rotateY(-360deg); }
  100% { transform: perspective(120px) rotateY(-360deg); }
}
