.throbber_loader {
  font-size: 70px;
  margin: 100px auto;
  animation: sk-rotateplane 2.4s 0.5s infinite ease-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    transform: perspective(120px); }
  50% {
    transform: perspective(120px) rotateY(180deg); }
  100% {
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateY(0deg); }
  25% {
    transform: perspective(120px) rotateY(-180deg); }
  50% {
    transform: perspective(120px) rotateY(-180deg); }
  75% {
    transform: perspective(120px) rotateY(-360deg); }
  100% {
    transform: perspective(120px) rotateY(-360deg); } }

.form .input_row {
  margin-bottom: 20px; }
  .form .input_row ul.radio_list,
  .form .input_row ul.check_list {
    margin: 0;
    padding: 0; }
    .form .input_row ul.radio_list li,
    .form .input_row ul.check_list li {
      list-style: none;
      margin: 8px 10px;
      padding: 0;
      color: #444; }
    .form .input_row ul.radio_list input,
    .form .input_row ul.check_list input {
      vertical-align: middle;
      margin: 0 5px 0 0; }

.form .label {
  color: #444;
  font-weight: bold; }

.form .label .sub,
.form label .sub {
  font-weight: normal;
  color: #666; }
  .form .label .sub a,
  .form label .sub a {
    color: #444; }

.form input[type='text'],
.form input[type='password'],
.form input[type='email'],
.form textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  border: 2px solid #cdcdcd;
  padding: 8px;
  border-radius: 2px;
  margin: 6px 0;
  color: #333; }
  .form input[type='text']:focus,
  .form input[type='password']:focus,
  .form input[type='email']:focus,
  .form textarea:focus {
    outline: none;
    border-color: #aaa; }
  .form input[type='text'].simple_border,
  .form input[type='password'].simple_border,
  .form input[type='email'].simple_border,
  .form textarea.simple_border {
    border: 1px solid #aaa;
    padding: 4px;
    color: #333;
    width: auto; }
  .form input[type='text'].big_input,
  .form input[type='password'].big_input,
  .form input[type='email'].big_input,
  .form textarea.big_input {
    font-size: 24px; }
  .form input[type='text'].medium_input,
  .form input[type='password'].medium_input,
  .form input[type='email'].medium_input,
  .form textarea.medium_input {
    font-size: 16px; }
  .form input[type='text'].inline_input,
  .form input[type='password'].inline_input,
  .form input[type='email'].inline_input,
  .form textarea.inline_input {
    width: auto; }

.form input[type='checkbox'] {
  vertical-align: middle; }

.form select {
  margin: 6px 0; }

.form .buttons {
  margin-top: 20px;
  color: #999; }
  .form .buttons .button {
    margin-right: 10px; }
  .form .buttons a {
    color: #666; }
  .form .buttons .right_buttons {
    line-height: 35px;
    float: right; }

.form_errors {
  color: #d14343;
  font-size: 16px; }

fieldset {
  border: 1px solid #dadada;
  margin-bottom: 20px; }
  fieldset legend {
    font-weight: bold;
    color: #444; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; }

body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #333; }

p {
  line-height: 1.5; }

.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  background: #fa5c5c;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  text-shadow: 0 1px 0 #d64343;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  height: 35px;
  border: 0; }
  .button:hover {
    background: #fa6666; }
  .button:active {
    background-color: #e44949;
    position: relative;
    top: 1px; }
  .button:focus {
    outline-color: #361275; }
  .button.disabled,
  .button[disabled] {
    text-shadow: none;
    color: #ccc;
    box-shadow: none;
    background: #aea8a8;
    cursor: default; }
    .button.disabled:focus,
    .button[disabled]:focus {
      outline: 0; }
    .button.disabled:active,
    .button[disabled]:active {
      position: static; }

.setup_page {
  background: url("../static/images/stock_blue.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .setup_page.error {
    color: #ffcccc; }
    .setup_page.error .throbber_loader {
      animation: none; }
  .setup_page .setup_widget {
    width: 100%;
    height: 300px;
    color: white;
    text-align: center; }
    .setup_page .setup_widget .throbber_loader {
      margin-bottom: 30px; }
  .setup_page .setup_message {
    transition: color 0.4s;
    white-space: pre;
    font-size: 20px; }
    .setup_page .setup_message .icon {
      margin-right: 8px; }

.login_page {
  background: url("../static/images/stock_blue.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .login_page .login_form {
    max-width: 400px; }
  .login_page .logo {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }
  .login_page .form_errors {
    margin: 0;
    margin-bottom: 20px; }
  .login_page .login_box {
    background: white;
    overflow: hidden;
    border-radius: 3px;
    min-width: 400px; }
    .login_page .login_box h1 {
      margin: 0;
      padding: 18px 30px;
      border-bottom: 1px solid #dadada;
      font-size: 24px;
      font-weight: bold; }
    .login_page .login_box .form {
      padding: 25px 30px; }
    .login_page .login_box .button {
      min-width: 100px; }

.library_page {
  background: #333;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .library_page .user_panel {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    color: rgba(255, 255, 255, 0.4); }
    .library_page .user_panel .avatar {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      border: 1px solid #333;
      border-radius: 2px; }
    .library_page .user_panel .username {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px; }
  .library_page .sidebar {
    background: #232323;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    height: 100%; }
    .library_page .sidebar h3 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 13px;
      color: #777;
      margin-left: 8px;
      margin: 5px 0 0 0;
      padding: 6px 0 4px 8px; }
    .library_page .sidebar .panel_links {
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 10px;
      overflow-y: auto;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .library_page .sidebar .panel_links .panel_link {
        padding: 7px 8px;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer; }
        .library_page .sidebar .panel_links .panel_link span.icon {
          margin-right: 8px; }
        .library_page .sidebar .panel_links .panel_link:hover {
          background: rgba(0, 0, 0, 0.1); }
        .library_page .sidebar .panel_links .panel_link.current {
          color: white;
          background: rgba(255, 255, 255, 0.1); }
        .library_page .sidebar .panel_links .panel_link .progress_outer {
          margin-top: 5px;
          width: 100%;
          height: 3px;
          background: #444; }
          .library_page .sidebar .panel_links .panel_link .progress_outer .progress_inner {
            height: 100%;
            background: #666; }
        .library_page .sidebar .panel_links .panel_link .form_errors {
          margin: 0;
          margin-top: 5px;
          padding: 3px 5px;
          color: #cc6767; }
          .library_page .sidebar .panel_links .panel_link .form_errors,
          .library_page .sidebar .panel_links .panel_link .form_errors li {
            list-style-type: none;
            font-size: inherit; }
    .library_page .sidebar.frameless .user_panel {
      margin-top: 20px; }
    .library_page .sidebar.frameless .panel_links {
      top: 60px; }
  .library_page .main_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
    overflow: auto; }
  .library_page .game_list {
    padding: 30px 20px 0 20px; }
  .library_page .game_cell {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 40px 10px;
    max-width: 185px; }
    .library_page .game_cell .bordered {
      background: rgba(0, 0, 0, 0.5);
      width: 185px;
      height: 146.458333333px;
      position: relative;
      border-radius: 2px;
      box-shadow: 0 0 0 2px #222;
      margin-bottom: 10px;
      overflow: hidden; }
    .library_page .game_cell .game_thumb {
      -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      vertical-align: top;
      display: block;
      position: absolute;
      border-radius: 2px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
      background-position: 50% 50%;
      background-size: cover;
      cursor: pointer; }
    .library_page .game_cell .game_title,
    .library_page .game_cell .game_author {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .library_page .game_cell .game_title {
      color: #eee; }
    .library_page .game_cell .game_author {
      color: #aaa; }
    .library_page .game_cell .game_launch {
      margin-top: 8px; }
      .library_page .game_cell .game_launch .icon {
        margin-right: 5px; }
  .library_page .game_box .upload_row {
    margin: 10px 0; }
    .library_page .game_box .upload_row .download_btn,
    .library_page .game_box .upload_row .upload_name,
    .library_page .game_box .upload_row .upload_size {
      margin-right: 15px; }
    .library_page .game_box .upload_row .upload_name {
      font-weight: bold; }
    .library_page .game_box .upload_row .upload_size {
      color: #666; }
    .library_page .game_box .upload_row button {
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: inline-block;
      background: #fa5c5c;
      color: white;
      text-decoration: none;
      padding: 0 10px;
      font-size: 14px;
      text-shadow: 0 1px 0 #d64343;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
      text-align: center;
      line-height: 33px;
      font-weight: bold;
      height: 35px; }
      .library_page .game_box .upload_row button:hover {
        background: #fa6666; }
      .library_page .game_box .upload_row button:active {
        background-color: #e44949;
        position: relative;
        top: 1px; }
  .library_page .lightbox_container {
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto; }
    .library_page .lightbox_container .lightbox {
      position: relative;
      background: white;
      overflow: hidden;
      border-radius: 3px;
      min-width: 400px;
      max-width: 80%;
      margin: 40px auto; }
      .library_page .lightbox_container .lightbox .lightbox_close {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 30px;
        color: #999;
        cursor: pointer; }
      .library_page .lightbox_container .lightbox .lightbox_header {
        border-bottom: 1px solid #dadada;
        padding: 20px;
        font-size: 24px; }
      .library_page .lightbox_container .lightbox .lightbox_content {
        padding: 20px; }

/*# sourceMappingURL=main.css.map */