
@-webkit-keyframes logo-anim {
  0%  { transform: scale(1.00) rotateZ(00deg); }
  19% { transform: scale(0.98) rotateZ(03deg); }
  20% { transform: scale(1.00) rotateZ(03deg); }
  49% { transform: scale(0.97) rotateZ(-2deg); }
  51% { transform: scale(1.03) rotateZ(01deg); }
  66% { transform: scale(1.03) rotateZ(01deg); }
  67% { transform: scale(1.08) rotateZ(00deg); }
  67% { transform: scale(1.08) rotateZ(00deg); }
  88% { transform: scale(1.08) rotateZ(00deg); }
  90% { transform: scale(0.94) rotateZ(02deg); }
}

@-webkit-keyframes drop-down {
  0%   { transform: scale(1.2) translateY(-10%); opacity: 0; }
  100% { transform: scale(1.0) translateY(0%); opacity: 1.0; }
}

.gate_page {
  animation: drop-down .3s ease-in;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  section {
    flex-grow: 0;
  }

  .top_filler {
    flex-grow: 1;
  }

  .logo {
    flex-grow: 1;
    animation: logo-anim 21.0s .5s infinite ease-out;

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 80%;
      margin: 0 auto;
    }
  }

  .errors {
    color: $warning_color;
    height: 4em;
    max-width: 400px;
    white-space: pre-wrap;
    overflow-y: auto;

    li {
      margin: 4px 0;
      line-height: 1.4;
    }
  }

  .errors, .actions {
    .icon {
      margin-right: .4em;
      font-size: 120%;
      vertical-align: middle;
    }
  }

  .crux {
    flex-grow: .2;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
  }

  form {
    width: 60%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-self: center;

    input {
      transform: scale(1.0) rotateZ(0deg);
      transition: all 0.2s;
      box-sizing: border-box;
      font-size: 16px;
      margin: 8px 4px;
      border: 2px solid #404040;
      border-radius: 4px 2px 4px 2px;
      background-color: rgb(45, 43, 43);
      color: #D4CECE;
      text-shadow: 0 0 2px black;
      padding: 12px 10px 9px 10px;
      line-height: normal;
      box-shadow: 0 0 2px #1B1919;

      &::-webkit-input-placeholder {
        text-shadow: 0 0 2px transparent;
        color: #777;
      }

      &:focus {
        border-color: #676767;
        box-shadow: 0 0 2px #131313;
        outline: 0;
      }

      &[disabled] {
        transform: scale(0.96);
        opacity: 0;
      }
    }

    input[type='text']:focus {
      transform: scale(1.08) rotateZ(0.5deg);
    }

    input[type='password']:focus {
      transform: scale(1.07) rotateZ(-0.3deg);
    }

    input[type='submit']:focus {
      transform: scale(1.06) rotateZ(0deg);
    }

    input[type='submit'] {
      transition: all 0.2s;
      font-size: 18px;
      display: block;
      background-color: #464646;
      font-weight: bold;
      padding: 16px 80px;
      border: 1px solid #676767;
      border-radius: 1px;
      color: #F9F9F9;
      text-shadow: 0 0 2px black;
      box-shadow: 0 0 3px #131313;

      &:hover {
        box-shadow: 0 0 8px #131313;
        cursor: pointer;
      }
    }
  }

  .actions {
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5em;

    .icon {
      @include horizontal_scan;
      margin-right: 12px;
    }

    p {
      font-size: 20px;
    }
  }

  .links {
    flex-grow: 1;
    font-size: 16px;
    transition: 0 .2s;
    margin: 1em 0;

    span {
      color: #555;
    }

    a {
      text-decoration: none;
      color: #666;
    }

    a:hover {
      color: #999;
    }
  }

  &[data-stage='setup'] {
    form input {
      opacity: 0;
    }

    .links {
      opacity: 0;
    }
  }
}
