
$grid_item_width: 200px;
$subtitle_color: #777;

.hub_page {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.hub_sidebar {
  width: 220px;
  flex-grow: 0;
  flex-shrink: 0;
  background: red;

  display: flex;
  align-items: stretch;
  flex-direction: column;

  section {
    display: flex;
    align-items: center;
    padding: 5px;

    &:hover {
      background: blue;
      color: white;
    }

    .icon {
      margin: 5px;
    }
  }

  .me {
    img {
      height: 2em;
      width: 2em;
      margin-right: 5px;
      border-radius: 2px;
    }
  }
}

.hub_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .hub_bread {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .hub_meat {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.hub_grid {
  flex-grow: 1;
  flex-shrink: 1;
  background: green;

  padding: 1em;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  .hub_item, .hub_filler {
    width: $grid_item_width;
    margin: .3em;
  }

  .hub_filler {
    height: 0;
  }

  .hub_item {
    background: yellow;

    .cover {
      background-size: cover;
      background-position: 50% 50%;
      height: 140px;
    }

    .actions {
      background: purple;
      height: 3em;
      display: flex;
      align-items: center;
    }

    .button .icon {
      margin-right: 5px;
    }
  }
}

.hub_bread {
  flex-basis: 90px;
  background: yellow;
  padding: 0 8px;

  display: flex;
  flex-direction: row;
  align-items: center;

  section {
    margin: 10px;

    h2 {
      font-size: 24px;
      .icon {
        font-size: 70%;
      }
    }

    .icon_button {
      font-size: 24px;
    }

    input[type=search] {
      font-size: 16px;
      padding: 8px;
      border-radius: 3px;
      border: 2px solid blue;
    }

    &.filler {
      flex-grow: 1;
    }
  }

  .hub_subtitle {
    margin-top: 2px;
    font-size: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: $subtitle_color;

    .separator {
      display: block;
      height: 1.2em;
      width: 1px;
      background: $subtitle_color;
      margin: 0 .4em;
    }
  }
}

.hub_meat {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.hub_search_results {
  flex-shrink: 0;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
  width: 0;
  background: orange;

  display: flex;
  flex-direction: column;

  h3 {
    margin-left: 1em;
    margin-top: 1em;
  }

  .result_list {
    display: flex;
    flex-direction: column;
  }

  .search_result {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 35px;
    }
  }

  &.active {
    width: $grid_item_width + 60px;
  }
}
