html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
}

body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  margin: 0 0 20px 0;
}

p {
  line-height: 1.5;
}


.button {
  @include button($button_color);
  border: 0;

  &:focus {
    outline-color: #361275;
  }

  &.disabled,
  &[disabled] {
    text-shadow: none;
    color: #ccc;
    box-shadow: none;
    background: desaturate($button_color, 90%);
    cursor: default;

    &:focus {
      outline: 0;
    }

    &:active {
      position: static;
    }
  }
}
