
$user_panel_height: 40px;
$cell_ratio: 152 / 192;
$cell_width: 200px;
$cell_height: $cell_width * $cell_ratio;

$broken_color: #C38E16;
$placeholder_link_color: #93C1F3;

$open_button_color: #4B6D85;

.library_page {
  $sidebar_width: 250px;

  background-color: $library_bg;
  color: white;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .status_bar {
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    height: 35px;
    line-height: 35px;
    background-color: #272626;
    border-top: 1px solid #434548;
    z-index: 20;
    color: whitesmoke;
    text-align: right;
    padding: 0 8px;
    font-size: 90%;

    transition: bottom 0.4s;

    &.active {
      bottom: 0;
    }

    .message:hover {
      cursor: pointer;
    }

    .message, .message .icon {
      height: 35px;
      line-height: 35px;
      vertical-align: middle;
    }

    .message .icon {
      margin-right: 8px;

      &.icon-download, &.icon-stopwatch {
        animation: sk-rotateplane 2.8s .5s infinite ease-out;
      }

      &.icon-cross {
        margin-left: 8px;
        opacity: .6;
      }
    }
  }

  .user_panel {
    @include border_box;
    height: $user_panel_height;
    line-height: $user_panel_height;
    padding: 0 8px;
    color: rgba(white, .4);

    .avatar {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      border: 1px solid $library_bg;
      border-radius: 2px;
    }

    .username {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
    }
  }

  .sidebar {
    background: #232323;
    width: $sidebar_width;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    height: 100%;

    .separator {
      width: 100%;
      height: 1px;
      background: $library_bg;
    }

    .panel_links {
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      overflow-y: auto;
      border-right: 1px solid rgba(black, .1);

      .panel_link {
        transition: 0.2s border;
        padding: 8px;
        color: #A0A0A0;
        cursor: pointer;

        border-left: 0 solid #888;

        .icon {
          margin-right: 8px;
        }

        .bubble {
          background: #666;
          color: #dadada;
          margin-left: 8px;
          font-size: 90%;
          border-radius: 2px;
          padding: 0px 4px;
        }

        &.collection {
          .bubble {
            display: none;
          }

          &.current .bubble {
            display: inline;
          }
        }

        &.broken {
          border-color: $broken_color;
        }

        &.dashboard {
          border-color: #41BD8F;
        }

        &.owned {
          border-color: #E24957;
        }

        &.installed {
          border-color: #577FDA;
        }

        &.search {
          border-color: #DA57AC;
        }

        &:hover {
          background: rgba(black, .1);
        }

        &.current {
          color: white;
          background: rgba(white, .1);
          border-width: 3px;
        }

        .progress_outer {
          margin-top: 5px;
          width: 100%;
          height: 3px;
          background: #444;

          .progress_inner {
            height: 100%;
            background: #666;
          }
        }

        .form_errors {
          &,
          li {
            list-style-type: none;
            font-size: inherit;
          }
          margin: 0;
          margin-top: 5px;
          padding: 3px 5px;
          color: #cc6767;
        }
      }

    }

    &.frameless {
      .user_panel {
        margin-top: 20px;
      }

      .panel_links {
        top: 60px;
      }
    }
  }

  .main_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $sidebar_width;
    right: 0;
    overflow: auto;

    .searchbox {
      overflow-x: hidden;
      height: 30px;
      margin: 30px 30px 0px 30px;
      border: 1px solid #5F5A5A;
      padding: 5px;
      background-size: auto 80%;
      background-position-y: 50%;
      background-position-x: 5px;
      background-repeat: no-repeat;
      border-radius: 2px;

      .icon {
        display: inline;
        color: #5F5A5A;
        margin: 0 8px 0 6px;
      }

      input {
        font-size: 20px;
        width: auto;
        height: 100%;
        background: transparent;
        color: #F5F5F5;
        border: none;

        &:focus {
          outline: none;
        }
      }

      .icon, input {
        display: inline-block;
        height: 28px;
        line-height: 28px;
      }
    }

    .search_container {
      height: 40%;
    }

    .search_header {
      height: 120px;
      background-image: -webkit-linear-gradient(#2E2B2C 0%, #2E2B2C 80%, transparent 100%);
      position: fixed;
      top: 0;
      left: 250px;
      right: 0;
      z-index: 20;
    }

    .search_content {
      min-height: calc(100% - 30px);
      height: 0px;
      padding-top: 75px;

      .empty_search_content {
        position: relative;
        top: 45%;
        .icon {
          font-size: 60px;
          padding: 10px;
        }
        div {
          text-align: center;
        }
      }
    }
  }

  .placeholder {
    margin-left: 40px;

    .placeholder_background {
      @include icon_as_background;
    }

    .placeholder_content {
      display: block;
    }

    h2 {
      font-weight: 100;
      font-size: 65px;
    }

    p {
      font-size: 20px;

      &.hint {
        margin-top: 3em;
        color: #94AFA1;
        opacity: .8;
      }
    }

    a:not(.fake_button):not(.button) {
      color: $placeholder_link_color;
      text-decoration: none;
      background: -webkit-linear-gradient($library_bg,$library_bg),-webkit-linear-gradient($library_bg,$library_bg),-webkit-linear-gradient($placeholder_link_color,$placeholder_link_color);
      background: -moz-linear-gradient($library_bg,$library_bg),-moz-linear-gradient($library_bg,$library_bg),-moz-linear-gradient($placeholder_link_color,$placeholder_link_color);
      background: -o-linear-gradient($library_bg,$library_bg),-o-linear-gradient($library_bg,$library_bg),-o-linear-gradient($placeholder_link_color,$placeholder_link_color);
      background: -ms-linear-gradient($library_bg,$library_bg),-ms-linear-gradient($library_bg,$library_bg),-ms-linear-gradient($placeholder_link_color,$placeholder_link_color);
      background: linear-gradient($library_bg,$library_bg),linear-gradient($library_bg,$library_bg),linear-gradient($placeholder_link_color,$placeholder_link_color);
      -webkit-background-size: .05em 1px,.05em 1px,1px 1px;
      -moz-background-size: .05em 1px,.05em 1px,1px 1px;
      background-size: .05em 1px,.05em 1px,1px 1px;
      background-repeat: no-repeat,no-repeat,repeat-x;
      text-shadow: .03em 0 $library_bg,-.03em 0 $library_bg,0 .03em $library_bg,0 -.03em $library_bg,.06em 0 $library_bg,-.06em 0 $library_bg,.09em 0 $library_bg,-.09em 0 $library_bg,.12em 0 $library_bg,-.12em 0 $library_bg,.15em 0 $library_bg,-.15em 0 $library_bg;
      background-position: 0 87%,100% 87%,0 87%;
    }

    .fake_button {
      text-decoration: none;
      color: white;
      font-size: 80%;
      display: inline-block;
      margin: 4px 5px;
      border: 1px solid #6D6D6D;
      padding: 3px 7px;
      border-radius: 3px;

      .icon {
        font-size: 80%;
        margin-right: 3px;
      }

      &.hollow {
        border: transparent;

        &:hover {
          opacity: 0.8;
        }

        .icon {
          font-size: 150%;
        }
      }
    }

    .button.fat {
      font-size: 26px;
      height: auto;
      padding: 13px 26px;
      margin-top: 40px;
      border: 2px solid rgba(255, 255, 255, 0.08);
      border-bottom: 4px solid rgba(255, 255, 255, 0.27);
      margin-right: 15px;
    }
  }

  .game_list {
    padding: 30px 20px 0;
  }

  .game_cell {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 40px;
    max-width: $cell_width;

    .bordered {
      background: rgba(0, 0, 0, .5);

      width: $cell_width;
      height: $cell_height;

      position: relative;
      border-radius: 2px;
      box-shadow: 0 0 0 2px #222;

      margin-bottom: 10px;
      overflow: hidden;
    }

    .platforms {
      transition: opacity .2s;
      opacity: 0;
      background-color: #040404;
      position: absolute;
      bottom: 5px;
      left: 5px;
      padding: 0 3px;
      height: 24px;
      line-height: 24px;
      border-radius: 3px;
      box-shadow: 0 0 1px #BFBFBF;

      .icon {
        padding-left: 2px;
        padding-right: 2px;
        color: #5D5A5A;
        font-size: 13px;
      }
      .active {
        color: #E6E6E6;
      }
    }

    &:hover .platforms {
      opacity: 1;
    }

    .game_thumb {
      @include transition(opacity .2s ease-in-out);

      vertical-align: top;
      display: block;
      position: absolute;
      border-radius: 2px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .3);
      background-position: 50% 50%;
      background-size: cover;
      cursor: pointer;

      &:not(.has_cover) {
        background-image: -webkit-linear-gradient(62deg, rgb(123, 123, 123), rgb(47, 46, 46));
        -webkit-filter: brightness(40%);
      }
    }

    .game_title,
    .game_author {
      @include single_line;
    }

    .game_title {
      color: #eee;
    }

    .game_author {
      color: #aaa;
    }

    .main_action {
      font-size: 13px;
      height: 33px;
      line-height: 33px;
      transition: all 0.2s;
      margin-top: 8px;
      position: relative;

      .cancel_cross {
        display: none;
      }

      &.cancellable {
        .cancel_cross {
          overflow: hidden;
          transition: 0.2s width;
          position: absolute;
          right: 5px;
          display: inline-block;
          text-align: center;
          width: 0;
          color: #E68989;
        }

        &:hover {
          .cancel_cross {
            width: 15px;
          }

          .progress_text {
            display: none;
          }
        }
      }

      .icon {
        margin-right: 5px;
      }

      &.uninstalled, &.task_error {
        background-color: #222;
        font-weight: normal;
        text-shadow: none;
        border: 1px solid #666;

        .icon {
          margin-right: 0;
        }
      }

      &.task_download, &.task_download-queued, &.task_install, &.task_configure, &.task_launch, &.task_find-upload, &.task_uninstall {
        background-color: #222;
        font-weight: normal;
        text-shadow: none;
        border: 1px solid #666;
        color: #dadada;
        width: 100%;
        text-align: center;
      }

      &.buy_now {
        background-color: #506F50;
        border: 1px solid #598E4A;
      }

      &.incompatible {
        color: #898989;
        background: none;
        border-color: transparent;
        box-shadow: none;
        padding: 0;
      }

      &.task_idle {
        @include button($button_color);

        &.action_open {
          @include button($open_button_color);
        }
      }
    }

    .cave_actions {
      display: inline;
      opacity: 0;
    }

    &:hover .cave_actions, .cave_actions.error {
      opacity: 1;
    }

    .secondary_action {
      margin-left: 12px;

      transition: all 0.4s;
      opacity: .4;

      &:hover {
        opacity: .8;
        cursor: pointer;
      }
    }
  }

  .game_box {
    .upload_row {
      margin: 10px 0;

      .download_btn,
      .upload_name,
      .upload_size {
        margin-right: 15px;
      }

      .upload_name {
        font-weight: bold;
      }

      .upload_size {
        color: $body_color_light;
      }

      button {
        @include button($button_color);
      }
    }
  }

  .lightbox_container {
    color: $body_color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(black, .5);
    overflow: auto;

    .lightbox {
      position: relative;
      background: white;
      overflow: hidden;
      border-radius: 3px;
      min-width: 400px;
      max-width: 80%;
      margin: 40px auto;

      .lightbox_close {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 30px;
        color: #999;
        cursor: pointer;
      }

      .lightbox_header {
        border-bottom: 1px solid $border_color;
        padding: 20px;
        font-size: 24px;
      }

      .lightbox_content {
        padding: 20px;
      }
    }
  }
}
