@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.woff?gtu04v');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-visibility_off:before {
  content: "\e939";
}
.icon-visibility:before {
  content: "\e93a";
}
.icon-security:before {
  content: "\e929";
}
.icon-share:before {
  content: "\e91b";
}
.icon-shopping_cart:before {
  content: "\e91a";
}
.icon-more_vert:before {
  content: "\e919";
}
.icon-plus:before {
  content: "\e914";
}
.icon-globe-outline:before {
  content: "\e90b";
}
.icon-globe2:before {
  content: "\e90c";
}
.icon-video_collection:before {
  content: "\e90d";
}
.icon-error:before {
  content: "\e61f";
}
.icon-cross:before {
  content: "\e617";
}
.icon-checkbox-unchecked:before {
  content: "\e937";
}
.icon-checkbox:before {
  content: "\e937";
}
.icon-unchecked:before {
  content: "\e937";
}
.icon-square:before {
  content: "\e937";
}
.icon-checkbox-checked:before {
  content: "\e938";
}
.icon-checkbox2:before {
  content: "\e938";
}
.icon-tick:before {
  content: "\e938";
}
.icon-checked:before {
  content: "\e938";
}
.icon-selected:before {
  content: "\e938";
}
.icon-sort-amount-desc:before {
  content: "\e935";
}
.icon-arrange:before {
  content: "\e935";
}
.icon-sort-amount-asc:before {
  content: "\e936";
}
.icon-arrange2:before {
  content: "\e936";
}
.icon-embed:before {
  content: "\e92c";
}
.icon-code:before {
  content: "\e92c";
}
.icon-html:before {
  content: "\e92c";
}
.icon-xml:before {
  content: "\e92c";
}
.icon-film:before {
  content: "\e92d";
}
.icon-video:before {
  content: "\e92d";
}
.icon-movie:before {
  content: "\e92d";
}
.icon-tape:before {
  content: "\e92d";
}
.icon-play:before {
  content: "\e92d";
}
.icon-book:before {
  content: "\e92e";
}
.icon-read:before {
  content: "\e92e";
}
.icon-reading:before {
  content: "\e92e";
}
.icon-images:before {
  content: "\e92f";
}
.icon-pictures:before {
  content: "\e92f";
}
.icon-photos:before {
  content: "\e92f";
}
.icon-graphics:before {
  content: "\e92f";
}
.icon-file-music:before {
  content: "\e930";
}
.icon-file:before {
  content: "\e930";
}
.icon-document:before {
  content: "\e930";
}
.icon-file-song:before {
  content: "\e930";
}
.icon-file-audio:before {
  content: "\e930";
}
.icon-music:before {
  content: "\e931";
}
.icon-song:before {
  content: "\e931";
}
.icon-audio:before {
  content: "\e931";
}
.icon-sound:before {
  content: "\e931";
}
.icon-note:before {
  content: "\e931";
}
.icon-stop:before {
  content: "\e92a";
}
.icon-player:before {
  content: "\e92a";
}
.icon-square2:before {
  content: "\e92a";
}
.icon-leaf:before {
  content: "\e925";
}
.icon-nature:before {
  content: "\e925";
}
.icon-plant:before {
  content: "\e925";
}
.icon-tea:before {
  content: "\e925";
}
.icon-green:before {
  content: "\e925";
}
.icon-vegan:before {
  content: "\e925";
}
.icon-vegetarian:before {
  content: "\e925";
}
.icon-list:before {
  content: "\e920";
}
.icon-grid:before {
  content: "\e91f";
}
.icon-apps:before {
  content: "\e91f";
}
.icon-squares:before {
  content: "\e91f";
}
.icon-blocks:before {
  content: "\e91f";
}
.icon-redo:before {
  content: "\e91c";
}
.icon-command:before {
  content: "\e915";
}
.icon-ctrl:before {
  content: "\e916";
}
.icon-shift:before {
  content: "\e917";
}
.icon-pause:before {
  content: "\e910";
}
.icon-exit:before {
  content: "\e90e";
}
.icon-triangle-right:before {
  content: "\e612";
}
.icon-triangle-down:before {
  content: "\e613";
}
.icon-rocket:before {
  content: "\e90a";
}
.icon-file-zip:before {
  content: "\e621";
}
.icon-play2:before {
  content: "\e61c";
}
.icon-stopwatch:before {
  content: "\e61a";
}
.icon-neutral:before {
  content: "\e619";
}
.icon-sort-alpha-asc:before {
  content: "\e614";
}
.icon-menu:before {
  content: "\e615";
}
.icon-filter:before {
  content: "\e616";
}
.icon-copy:before {
  content: "\e618";
}
.icon-facebook:before {
  content: "\e60c";
}
.icon-twitter:before {
  content: "\e60d";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-steam:before {
  content: "\e600";
}
.icon-paypal:before {
  content: "\e607";
}
.icon-credit-card:before {
  content: "\e608";
}
.icon-pencil:before {
  content: "\e606";
}
.icon-coin:before {
  content: "\e002";
}
.icon-heart:before {
  content: "\e003";
}
.icon-warning:before {
  content: "\e004";
}
.icon-checkmark:before {
  content: "\e005";
}
.icon-users:before {
  content: "\e006";
}
.icon-moon:before {
  content: "\e007";
}
.icon-download:before {
  content: "\e008";
}
.icon-arrow-right:before {
  content: "\e00b";
}
.icon-arrow-left:before {
  content: "\e00c";
}
.icon-star:before {
  content: "\e00d";
}
.icon-star2:before {
  content: "\e00e";
}
.icon-upload:before {
  content: "\e00f";
}
.icon-windows8:before {
  content: "\e010";
}
.icon-apple:before {
  content: "\e011";
}
.icon-tux:before {
  content: "\e012";
}
.icon-globe:before {
  content: "\e013";
}
.icon-mobile:before {
  content: "\e014";
}
.icon-cart:before {
  content: "\e000";
}
.icon-android:before {
  content: "\e601";
}
.icon-stats:before {
  content: "\e602";
}
.icon-tag:before {
  content: "\e603";
}
.icon-delete:before {
  content: "\e604";
}
.icon-link:before {
  content: "\e605";
}
.icon-heart-filled:before {
  content: "\e60a";
}
.icon-times-rectangle-o:before {
  content: "\e932";
}
.icon-window-close-o:before {
  content: "\e932";
}
.icon-times-rectangle:before {
  content: "\e933";
}
.icon-window-close:before {
  content: "\e933";
}
.icon-window-minimize:before {
  content: "\e934";
}
.icon-html5:before {
  content: "\e928";
}
.icon-close:before {
  content: "\e921";
}
.icon-remove:before {
  content: "\e921";
}
.icon-times:before {
  content: "\e921";
}
.icon-window-restore:before {
  content: "\e922";
}
.icon-window-maximize:before {
  content: "\e923";
}
.icon-minus:before {
  content: "\e924";
}
.icon-diamond:before {
  content: "\e913";
}
.icon-newspaper-o:before {
  content: "\e912";
}
.icon-repeat:before {
  content: "\e904";
}
.icon-history:before {
  content: "\e90f";
}
.icon-gamepad:before {
  content: "\e61b";
}
.icon-caret-up:before {
  content: "\e60f";
}
.icon-caret-down:before {
  content: "\e610";
}
.icon-bitcoin:before {
  content: "\e60b";
}
.icon-pin:before {
  content: "\e92b";
}
.icon-palette:before {
  content: "\e926";
}
.icon-archive:before {
  content: "\e927";
}
.icon-lab-flask:before {
  content: "\e91d";
}
.icon-install:before {
  content: "\e61d";
}
.icon-uninstall:before {
  content: "\e61e";
}
.icon-shuffle:before {
  content: "\e60e";
}
.icon-pumpkin:before {
  content: "\e91e";
}
.icon-itchio:before {
  content: "\e911";
}
.icon-folder:before {
  content: "\e900";
  color: #444;
}
.icon-align-top:before {
  content: "\e909";
}
.icon-cog:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-upload-to-cloud:before {
  content: "\e905";
}
.icon-hand-paper-o:before {
  content: "\e906";
}
.icon-bug:before {
  content: "\e903";
}
.icon-heart-broken:before {
  content: "\e907";
}
.icon-folder-open:before {
  content: "\e908";
}
.icon-t-shirt:before {
  content: "\e918";
}
.icon-like:before {
  content: "\e611";
}
.icon-hand:before {
  content: "\e609";
}
