[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=itch
Comment=Install and play itch.io games easily
Exec=itch
Icon=itch.png
Terminal=false
Categories=Game;Utility;PackageManager
MimeType=x-scheme-handler/itchio
