
.gate-page form {
  width: 60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;

  input {
    @include heavy-input;

    transform: scale(1.0) rotateZ(0deg);
    transition: all 0.2s;

    &[disabled] {
      transform: scale(0.96);
      opacity: 0;
    }
  }

  input[type='text']:focus {
    transform: scale(1.08) rotateZ(0.5deg);
  }

  input[type='password']:focus {
    transform: scale(1.07) rotateZ(-0.3deg);
  }

  input[type='submit']:focus {
    transform: scale(1.06) rotateZ(0deg);
  }

  input[type='submit'] {
    @include heavy-button;
    transition: all 0.2s;
  }
}
