
@mixin gif-marker {
  position: absolute;
  top: 5px;
  right: 5px;
  text-transform: uppercase;
  background: #333333;
  color: rgba(253, 253, 253, 0.74);
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: bold;
  opacity: .8;
}
