
@mixin heavy-input {
    font-size: $base-text-size;
    padding: 12px 10px 9px 10px;
    margin: 8px 4px;

    border: 2px solid $input-border-color;
    border-radius: 4px 2px 4px 2px;

    background-color: $input-background-color;
    color: $input-text-color;

    text-shadow: 0 0 2px $input-text-shadow-color;
    box-shadow: 0 0 2px $input-box-shadow-color;

    &::-webkit-input-placeholder {
      text-shadow: 0 0 2px transparent;
      color: $input-placeholder-color;
    }

    &:focus {
      border-color: $input-focused-border-color;
      box-shadow: 0 0 2px $input-focused-box-shadow-color;
      outline: 0;
    }
}
