
@mixin heavy-button ($background-color: $heavy-button-background-color, $border-color: $heavy-button-border-color) {
  font-size: $base-text-size * 1.2;

  background-color: $background-color;
  font-weight: bold;
  padding: 16px 80px;

  border: 1px solid $border-color;
  border-width: 4px 1px 1px 1px;
  border-radius: 2px;
  box-shadow: 0 0 3px $ui-box-shadow-color;

  color: $button-text-color;
  text-shadow: 0 0 2px $ui-text-shadow-color;

  &:hover {
    box-shadow: 0 0 8px $ui-box-shadow-color;
    cursor: pointer;
  }
}

@mixin spooky-heavy-button {
  @include heavy-button($background-color: $spooky, $border-color: $spooky-light);
}

@mixin discreet-button {
  background: #2B2B2B;
  border-color: #444;
}
