
.preferences_panel {
  margin-left: 40px;
  font-size: 20px;

  color: white;

  h2 {
    font-weight: 100;
    font-size: 65px;
  }

  .select-row select {
    margin-left: 10px;
  }

  .buttons {
    float: right;
    opacity: .7;

    &:hover {
      opacity: 1;
      cursor: hand;
    }
  }

  .preferences_background {
    @include icon_as_background;
  }
}
