
.login_page {
  &.error {
    color: lighten(red, 40%);

    .throbber_loader {
      animation: none;
    }
  }

  .setup_info {
    width: 100%;

    color: white;
    text-align: center;

    .throbber_loader {
      margin-bottom: 20px;
    }
  }

  .setup_message {
    transition: color .4s;
    white-space: pre;
    font-size: 20px;

    .icon {
      margin-right: 8px;
    }
  }
}
