name: "integration-tests"

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    env:
      ITCH_TEST_ACCOUNT_API_KEY: ${{ secrets.ITCH_TEST_ACCOUNT_API_KEY }}
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-go@v6
      with:
        go-version: '^1.22.1'
    - uses: actions/setup-node@v6
      with:
        node-version: '22'
    - name: Install xvfb
      run: sudo apt-get update && sudo apt-get install -y xvfb
    - name: Install dependencies
      run: npm ci
    - name: Type check
      run: npm run ts-check
    - name: Build, package, and run integration tests
      run: node release/package-all.js --os linux --arch amd64
    - name: Upload screenshots
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: integration-test-screenshots
        path: integration-tests/screenshots/
        if-no-files-found: ignore
        retention-days: 1
